<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>课程管理</title>
  <link rel="icon" href="/favicon.ico" />
  <link href="/lib/bootstrapValidator/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
  <!--   <link href="https://attach.likeshuo.com/Layout/Web1/Css?v=20180411001" rel="stylesheet" /> -->
  <link href="/css/Css.css" rel="stylesheet" />
  <link href="https://attach.likeshuo.com/Layout/Marketing/Css?v=20180411001" rel="stylesheet" />
  <link href="/css/index/default.css" rel="stylesheet" />
  <link href="/css/index/homeindex.css" rel="stylesheet" />
  <link href="/css/index/layout.css" rel="stylesheet" />
  <link href="/css/pc.css" rel="stylesheet" />
  <!--   <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet"/>
 -->
</head>
<style>
  .modal-dialog {
    z-index: 1040;
    width: 600px;
  }
</style>

<body>
 
    <!-- 头部导航 -->
    <%- include admin_nav%>
     <!-- 头像   --> 
  <div class="boxtx"> 
    <div style="margin: 20px;display: inline-block"> 
     <img src="../images/ad.jpg" />  
      <button style="margin-left: 50px" type="button" class="el-button el-button--primary el-button--small" data-toggle="modal" data-target="#addCourseModal">
      <span>添加课程</span>
      </button> 
    </div> 
   </div> 
  
  

        <div class="modal fade" id="addCourseModal" tabindex="-1" role="dialog" aria-labelledby="addCourseModalLabel" aria-hidden="true"
          data-backdrop="false">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                  &times;
                </button>
                <h4 class="modal-title" id="addCourseModalLabel">
                  添加课程
                </h4>
              </div>
              <form id="addCourseForm" enctype='multipart/form-data' class="form-horizontal templatemo-create-account templatemo-container"
                role="form" action="/admin/addCourseSubmit" method="post">
                <div class="modal-body">
                  <div class="form-group">
                    <div class="col-md-6">
                      <label for="type_one" class="control-label">类型</label>
                      <select class="form-control" name="type_one" data-bv-notempty data-bv-notempty-message="类型必须选择">
                        <option value="">-- 请选择类型 --</option>
                        <option value="成人英语">成人英语</option>
                        <option value="青少英语">青少英语</option>
                        <option value="商务英语">商务英语</option>
                        <option value="海外考试">海外考试</option>
                      </select>
                    </div>
                    <div class="col-md-6">
                      <label for="type_two" class="control-label">类型</label>
                      <select class="form-control" name="type_two">
                        <option value="">-- 请选择类型 --</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-md-12">
                      <label for="imageFile" class="control-label">上传图片</label>
                      <input name="imageFile" type="file" class="form-control" id="imageFile" placeholder="上传图片" />
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-md-12">
                      <label for="count" class="control-label">课程数量</label>
                      <input name="count" type="text" class="form-control" id="count" placeholder="私教课(45分钟) × 3节 / 小班课(45分钟) × 3节 / 讲堂课(45分钟) × 15节"
                      />
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-md-12">
                      <label for="time" class="control-label">服务期限：</label>
                      <input name="time" type="text" class="form-control" id="time" placeholder="×30天" />
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-md-12">
                      <label for="level" class="control-label">适用级别</label>
                      <input name="level" type="text" class="form-control" id="level" placeholder="L1-L12" />
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-md-12">
                      <label for="bundle" class="control-label">额外赠送</label>
                      <input name="bundle" type="text" class="form-control" id="bundle" placeholder="赠送16U币 / 学习指导 / 英语胶囊" />
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-md-12">
                      <div id="errors"></div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                  </button>
                  <button type="submit" class="btn btn-primary">
                    新增课程
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>


            </div>
            <div class="row">
              <div class="col-*-12" style="text-align: center;">
                <ul id="pager"></ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- message -->
      <div style="position: absolute;width: 100%; top: 241px;">
        <div id="addCourseAlert" class="alert" style="display : none ;text-align: center;">
          <a href="#" class="close" data-dismiss="alert">&times;</a>
          <strong></strong>
        </div>
      </div>
      <script type="text/javascript" src="/lib/bootstrapValidator/vendor/jquery/jquery.min.js"></script>
      <script type="text/javascript" src="/lib/bootstrapValidator/vendor/bootstrap/js/bootstrap.min.js"></script>
      <script type="text/javascript" src="/lib/bootstrapValidator/dist/js/bootstrapValidator.min.js"></script>
      <script type="text/javascript" src="/lib/jquery.tmpl.min.js"></script>
      <script type="text/javascript" src="/lib/bootstrap-paginator.min.js"></script>


      <script type='text/javascript'>
        var type_dic = {
          "成人英语": ["成人口语", "零基础", "蹭课卡", "旅游英语", "面试英语", "自然拼读"],
          "青少英语": [],
          "商务英语": [],
          "海外考试": []
        };

        function createOptionByType(type_dic, type_one) {
          var type_twovalue = type_dic[type_one];
          if (!type_twovalue || type_twovalue.length == 0) {
            $("[name=type_two]").parent("div").hide();
            return;
          } else {
            $("[name=type_two]").parent("div").show();
          }
          var result = '"<option value="">-- 请选择类型 --</option>"';
          for (var i in type_twovalue) {
            result += "<option value=" + type_twovalue[i] + ">" + type_twovalue[i] + "</option>";
          }
          return result;
        }
        $(function () {
          $("[name=type_one]").change(function () {
            $("[name=type_two]").empty().append(createOptionByType(type_dic, $(this).val()));
          });
        });

      //   function initPage() {
      //     $.ajax({
      //       url: "/admin/getProductTotalCount",
      //       type: 'post',
      //       dataType: 'json',
      //       data: { pageSize: 10 },
      //       success: function (data) {
      //         var totalPages = data.pageCount;
      //         var options = {
      //           bootstrapMajorVersion: 3,
      //           currentPage: 1,
      //           totalPages: totalPages || 0,
      //           onPageClicked: function (e, originalEvent, type, page) {
      //             $.ajax({
      //               url: "/admin/getProductPage",
      //               data: { currentPage: page, pageSize: 10 },
      //               dataType: 'json',
      //               type: "post",
      //               success: function (data) {
      //                 console.log(data.resources);
      //                 $('#detail_block_list_real').empty();
      //                 $("#resource_detai_tmpl").tmpl(data.resources).appendTo('#detail_block_list_real');
      //               }
      //             })
      //           }
      //         }
      //         $('#pager').bootstrapPaginator(options);
      //         $("#pager li a:first-child").click();
      //       }
      //     });
      //   }
      // </script>


      <script id="resource_detai_tmpl" type="text/x-jquery-tmpl">
   <div class="media">
            <div class="media-left">
              {{if visitPath }}
                <img src="${visitPath}" width=300px height=189px />
              {{else}} 
                <img src="\images\cr.jpg" width=300px height=189px />
              {{/if}}
            </div>
            <div class="media-body">
              <div class="list-detail">
                <h3 class="text-red"> &yen;0 </h3>
                <div>
                  <span class="text-666">课程数量：</span> ${count}
                </div>
                <div>
                  <span class="text-666">服务期限：</span>${time}
                </div>
                <div>
                  <span class="text-666">适用级别：</span>${level}
                </div>
                {{if bundle}}
                <div>
                  <span class="text-666">额外赠送：</span>${bundle}
                </div>
                {{/if}}
                <div>
                  <span class="text-666">类别：</span>${type_one}  {{if $data.type_two}}=> ${type_two} {{/if}} 
                </div>
              </div>
            </div>
          </div>
</script>
      <script type="text/javascript">
/*     var data = [{count: 10, times: 23, level: 'sfsdf', bundle: 'xsfdfsd bundel'},
    {count: 10, times: 23, level: 'sfsdf', bundle: 'xsfdfsd bundel'}
    ];
    $("#resource_detai_tmpl").tmpl(data).appendTo('#detail_block_list_real'); */
      </script>

      <script>
        $(document).ready(function () {
          initPage();
          $('#addCourseForm')
            .bootstrapValidator({
              message: 'This value is not valid',
              container: '#errors',
              feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
              },
              fields: {
                count: {
                  validators: {
                    notEmpty: {
                      message: 'The count is required and cannot be empty'
                    }
                  }
                },
                time: {
                  message: 'The time is not valid',
                  validators: {
                    notEmpty: {
                      message: 'The time is required and cannot be empty'
                    }
                  }
                },
                level: {
                  message: 'The level is not valid',
                  validators: {
                    notEmpty: {
                      message: 'The level is required and cannot be empty'
                    }
                  }
                }
              }
            })
            .on('success.form.bv', function (e) {

              // Prevent form submission
              e.preventDefault();
              // Get the form instance
              var $form = $(e.target);
              var formData = new FormData($("#addCourseForm")[0]);
              // console.log("origin form data" + formData);
              $.ajax({
                url: $form.attr('action'),
                dataType: 'json',
                method: 'post',
                data: formData,
                processData: false,
                contentType: false,
                cache: false,
                beforeSend: function () {
                  var file = $("#imageFile")[0].files[0];
                  formData.append('imageFile', $(file));
                  console.log("before send " + formData);
                },
                success: function (result) {
                  $("button[data-dismiss='modal']").click(); //关闭模态弹窗
                  if (result.error) {
                    $("#addCourseAlert").addClass("alert-danger").show();
                    $("#addCourseAlert > strong").html("添加课程失败");
                  } else {
                    $("#addCourseAlert").addClass("alert-success").show();
                    $("#addCourseAlert > strong").html("添加课程成功");
                    initPage();
                  }
                  setTimeout(() => {
                    $("#addCourseAlert").hide();
                  }, 2000);
                }
              });

            });
        });
      </script>
</body>

</html>