<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>天涯英语-管理中心-添加课程</title>
  <link rel="icon" href="/favicon.ico" />
  <link href="/lib/bootstrapValidator/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
  <!--   <link href="https://attach.likeshuo.com/Layout/Web1/Css?v=20180411001" rel="stylesheet" /> -->
  <link href="/css/Css.css" rel="stylesheet" />
  <link href="https://attach.likeshuo.com/Layout/Marketing/Css?v=20180411001" rel="stylesheet" />
  <link href="/css/index/default.css" rel="stylesheet" />
  <link href="/css/index/homeindex.css" rel="stylesheet" />
  <link href="/css/index/layout.css" rel="stylesheet" />
  <link href="/css/pc.css" rel="stylesheet" />
</head>
<style>
  .modal-dialog {
    z-index: 1040;
    width: 600px;
  }
</style>

<body>
  <!-- 顶部导航 -->
  <div id="shared_layout_toper" class="clearfix">
    <div class="container">
      <span class="text-666">客服热线</span>
      <span class="text-blue">&nbsp;400-777-8828</span>
      <ul class="pull-right list-inline">
        <li>
          <a href="#" target="_blank">管理中心</a>
        </li>
        <li>
          <a href="#" target="_blank">新闻动态</a>
        </li>
        <li>
          <a href="#" target="_blank">意见箱</a>
        </li>
      </ul>
    </div>
  </div>
  <!-- 头部导航 -->
  <div id="shared_layout_header" class="clearfix">
    <nav class="clearfix layout-header1">
      <div class="container clearfix">
        <div id="shared_signin" class="pull-right">
        </div>
        <a href="https://www.likeshuo.com" class="pull-left">
          <img src="/images/logo.PNG" alt="" class="img-responsive" />
        </a>
        <span class="pull-left hidden-xs">天涯英语，与全球友人一起学习!</span>
      </div>
    </nav>
    <nav class="clearfix navbar navbar-default layout-header2">
      <div class="container">
        <div class="navbar-header">
          <button type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false" class="navbar-toggle collapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active">
              <a href="/" class="text-overflow">
                <i class="glyphicon glyphicon-home"></i>&nbsp;
                <span>首页</span>
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li>
              <a href="/general" target="_blank" class="text-overflow">成人英语</a>
            </li>
            <li>
              <a href="/junior" target="_blank" class="text-overflow">青少英语</a>
            </li>
            <li>
              <a href="/professional" target="_blank" class="text-overflow">商务英语</a>
            </li>
            <li>
              <a href="/overseas" target="_blank" class="text-overflow">海外考试</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <!-- 头像   -->
  <div class="boxtx">
    <div style="margin: 20px;display: inline-block">
      <img src="/images/ad.jpg" />
    </div>
  </div>
  <!-- 管理课程 -->
  <div style="margin-left: 370px">
    <button type="button" class="el-button el-button--primary el-button--small" data-toggle="modal" data-target="#addCourseModal">
      <span>添加课程</span>
    </button>
    <div class="modal fade" id="addCourseModal" tabindex="-1" role="dialog" aria-labelledby="addCourseModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
              &times;
            </button>
            <h4 class="modal-title" id="addCourseModalLabel">
              添加课程
            </h4>
          </div>
          <form id="addCourseForm" class="form-horizontal templatemo-create-account templatemo-container" role="form" action="/admin/addCourseSubmit"
            method="post">
            <div class="modal-body">
              <div class="form-group">
                <div class="col-md-12">
                  <label for="count" class="control-label">课程数量</label>
                  <input name="count" type="text" class="form-control" id="count" placeholder="私教课(45分钟) × 3节 / 小班课(45分钟) × 3节 / 讲堂课(45分钟) × 15节"
                  />
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-12">
                  <label for="time" class="control-label">服务期限：</label>
                  <input name="time" type="text" class="form-control" id="time" placeholder="×30天" />
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-12">
                  <label for="level" class="control-label">适用级别</label>
                  <input name="level" type="text" class="form-control" id="level" placeholder="L1-L12" />
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-12">
                  <label for="bundle" class="control-label">额外赠送</label>
                  <input name="bundle" type="text" class="form-control" id="bundle" placeholder="赠送16U币 / 学习指导 / 英语胶囊" />
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-12">
                  <div id="errors"></div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">关闭
              </button>
              <button type="submit" class="btn btn-primary">
                新增课程
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <button type="button" class="el-button el-button--primary el-button--small">
      <span>添加新闻</span>
    </button>
    <button type="button" class="el-button el-button--primary el-button--small">
      <span>意见箱</span>
    </button>
  </div>


  <!-- 已有课程 -->
  <div class="boxkc">

    <div class="el-tabs__content">
      <div role="tabpanel" id="pane-1" aria-labelledby="tab-1" class="el-tab-pane">
        <div id="detail_block_list" class="panel-loading">
          <div class="media">
            <div class="media-left">
              <img src="/images/cr.jpg" />
            </div>
            <div class="media-body">
              <div class="list-detail">
                <h3 class="text-red"> &yen;0 </h3>
                <div>
                  <span class="text-666">课程数量：</span>私教课(45分钟) &times; 3节 / 小班课(45分钟) &times; 3节 / 讲堂课(45分钟) &times; 15节
                </div>
                <div>
                  <span class="text-666">服务期限：</span>&times;30天
                </div>
                <div>
                  <span class="text-666">适用级别：</span>L1-L12
                </div>
                <div>
                  <span class="text-666">额外赠送：</span>赠送16U币 / 学习指导 / 英语胶囊
                </div>
                <div class="detail-control">
                  <div class="btn-list">
                    <button type="button" class="el-button el-button--primary el-button--small">
                      <!---->
                      <!---->
                      <span>立即添加</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="el-loading-mask el-loading-fade-enter-to" style="display: none;">
            <div class="el-loading-spinner">
              <svg viewbox="25 25 50 50" class="circular">
                <circle cx="50" cy="50" r="20" fill="none" class="path"></circle>
              </svg>
              <!---->
            </div>
          </div>
        </div>
        <div class="el-tabs__content">
          <div role="tabpanel" id="pane-1" aria-labelledby="tab-1" class="el-tab-pane">
            <div id="detail_block_list" class="panel-loading">
              <div class="media">
                <div class="media-left">
                  <img src="/images/cr.jpg" />
                </div>
                <div class="media-body">
                  <div class="list-detail">
                    <h3 class="text-red"> &yen;0 </h3>
                    <div>
                      <span class="text-666">课程数量：</span>私教课(45分钟) &times; 3节 / 小班课(45分钟) &times; 3节 / 讲堂课(45分钟) &times; 15节
                    </div>
                    <div>
                      <span class="text-666">服务期限：</span>&times;30天
                    </div>
                    <div>
                      <span class="text-666">适用级别：</span>L1-L12
                    </div>
                    <div>
                      <span class="text-666">额外赠送：</span>赠送16U币 / 学习指导 / 英语胶囊
                    </div>
                    <div class="detail-control">
                      <div class="btn-list">
                        <button type="button" class="el-button el-button--primary el-button--small">
                          <!---->
                          <!---->
                          <span>立即添加</span>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="el-loading-mask el-loading-fade-enter-to" style="display: none;">
                <div class="el-loading-spinner">
                  <svg viewbox="25 25 50 50" class="circular">
                    <circle cx="50" cy="50" r="20" fill="none" class="path"></circle>
                  </svg>
                  <!---->
                </div>
              </div>
            </div>
            <div class="el-tabs__content">
              <div role="tabpanel" id="pane-1" aria-labelledby="tab-1" class="el-tab-pane">
                <div id="detail_block_list" class="panel-loading">
                  <div class="media">
                    <div class="media-left">
                      <img src="/images/cr.jpg" />
                    </div>
                    <div class="media-body">
                      <div class="list-detail">
                        <h3 class="text-red"> &yen;0 </h3>
                        <div>
                          <span class="text-666">课程数量：</span>私教课(45分钟) &times; 3节 / 小班课(45分钟) &times; 3节 / 讲堂课(45分钟) &times; 15节
                        </div>
                        <div>
                          <span class="text-666">服务期限：</span>&times;30天
                        </div>
                        <div>
                          <span class="text-666">适用级别：</span>L1-L12
                        </div>
                        <div>
                          <span class="text-666">额外赠送：</span>赠送16U币 / 学习指导 / 英语胶囊
                        </div>
                        <div class="detail-control">
                          <div class="btn-list">
                            <button type="button" class="el-button el-button--primary el-button--small">
                              <!---->
                              <!---->
                              <span>立即添加</span>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="el-loading-mask el-loading-fade-enter-to" style="display: none;">
                    <div class="el-loading-spinner">
                      <svg viewbox="25 25 50 50" class="circular">
                        <circle cx="50" cy="50" r="20" fill="none" class="path"></circle>
                      </svg>
                      <!---->
                    </div>
                  </div>
                </div>
                <!-- 成人口语 -->
                <div class="el-tabs__content">
                  <div role="tabpanel" id="pane-1" aria-labelledby="tab-1" class="el-tab-pane">
                    <div id="detail_block_list" class="panel-loading">
                      <div class="media">
                        <div class="media-left">
                          <img src="/images/ljc.jpg" />
                        </div>
                        <div class="media-body">
                          <div class="list-detail">
                            <h3 class="text-red"> &yen;0 </h3>
                            <div>
                              <span class="text-666">课程数量：</span>私教课(45分钟) &times; 3节 / 小班课(45分钟) &times; 3节 / 讲堂课(45分钟) &times; 15节
                            </div>
                            <div>
                              <span class="text-666">服务期限：</span>&times;30天
                            </div>
                            <div>
                              <span class="text-666">适用级别：</span>L1-L12
                            </div>
                            <div>
                              <span class="text-666">额外赠送：</span>赠送16U币 / 学习指导 / 英语胶囊
                            </div>
                            <div class="detail-control">
                              <div class="btn-list">
                                <button type="button" class="el-button el-button--primary el-button--small">
                                  <!---->
                                  <!---->
                                  <span>立即添加</span>
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="el-loading-mask el-loading-fade-enter-to" style="display: none;">
                        <div class="el-loading-spinner">
                          <svg viewbox="25 25 50 50" class="circular">
                            <circle cx="50" cy="50" r="20" fill="none" class="path"></circle>
                          </svg>
                          <!---->
                        </div>
                      </div>
                    </div>
                    <div class="el-tabs__content">
                      <div role="tabpanel" id="pane-1" aria-labelledby="tab-1" class="el-tab-pane">
                        <div id="detail_block_list" class="panel-loading">
                          <div class="media">
                            <div class="media-left">
                              <img src="/images/ljc.jpg" />
                            </div>
                            <div class="media-body">
                              <div class="list-detail">
                                <h3 class="text-red"> &yen;0 </h3>
                                <div>
                                  <span class="text-666">课程数量：</span>私教课(45分钟) &times; 3节 / 小班课(45分钟) &times; 3节 / 讲堂课(45分钟) &times; 15节
                                </div>
                                <div>
                                  <span class="text-666">服务期限：</span>&times;30天
                                </div>
                                <div>
                                  <span class="text-666">适用级别：</span>L1-L12
                                </div>
                                <div>
                                  <span class="text-666">额外赠送：</span>赠送16U币 / 学习指导 / 英语胶囊
                                </div>
                                <div class="detail-control">
                                  <div class="btn-list">
                                    <button type="button" class="el-button el-button--primary el-button--small">
                                      <!---->
                                      <!---->
                                      <span>立即添加</span>
                                    </button>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="el-loading-mask el-loading-fade-enter-to" style="display: none;">
                            <div class="el-loading-spinner">
                              <svg viewbox="25 25 50 50" class="circular">
                                <circle cx="50" cy="50" r="20" fill="none" class="path"></circle>
                              </svg>
                              <!---->
                            </div>
                          </div>
                        </div>
                        <div class="el-tabs__content">
                          <div role="tabpanel" id="pane-1" aria-labelledby="tab-1" class="el-tab-pane">
                            <div id="detail_block_list" class="panel-loading">
                              <div class="media">
                                <div class="media-left">
                                  <img src="/images/ljc.jpg" />
                                </div>
                                <div class="media-body">
                                  <div class="list-detail">
                                    <h3 class="text-red"> &yen;0 </h3>
                                    <div>
                                      <span class="text-666">课程数量：</span>私教课(45分钟) &times; 3节 / 小班课(45分钟) &times; 3节 / 讲堂课(45分钟) &times; 15节
                                    </div>
                                    <div>
                                      <span class="text-666">服务期限：</span>&times;30天
                                    </div>
                                    <div>
                                      <span class="text-666">适用级别：</span>L1-L12
                                    </div>
                                    <div>
                                      <span class="text-666">额外赠送：</span>赠送16U币 / 学习指导 / 英语胶囊
                                    </div>
                                    <div class="detail-control">
                                      <div class="btn-list">
                                        <button type="button" class="el-button el-button--primary el-button--small">
                                          <!---->
                                          <!---->
                                          <span>立即添加</span>
                                        </button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="el-loading-mask el-loading-fade-enter-to" style="display: none;">
                                <div class="el-loading-spinner">
                                  <svg viewbox="25 25 50 50" class="circular">
                                    <circle cx="50" cy="50" r="20" fill="none" class="path"></circle>
                                  </svg>
                                  <!---->
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="el-tabs__content">
      <div role="tabpanel" id="pane-1" aria-labelledby="tab-1" class="el-tab-pane">
        <div id="detail_block_list" class="panel-loading">
          <div class="media">
            <div class="media-left">
              <img src="/images/ckk.jpg" />
            </div>
            <div class="media-body">
              <div class="list-detail">
                <h3 class="text-red"> &yen;0 </h3>
                <div>
                  <span class="text-666">课程数量：</span>私教课(45分钟) &times; 3节 / 小班课(45分钟) &times; 3节 / 讲堂课(45分钟) &times; 15节
                </div>
                <div>
                  <span class="text-666">服务期限：</span>&times;30天
                </div>
                <div>
                  <span class="text-666">适用级别：</span>L1-L12
                </div>
                <div>
                  <span class="text-666">额外赠送：</span>赠送16U币 / 学习指导 / 英语胶囊
                </div>
                <div class="detail-control">
                  <div class="btn-list">
                    <button type="button" class="el-button el-button--primary el-button--small">
                      <!---->
                      <!---->
                      <span>立即添加</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="el-loading-mask el-loading-fade-enter-to" style="display: none;">
            <div class="el-loading-spinner">
              <svg viewbox="25 25 50 50" class="circular">
                <circle cx="50" cy="50" r="20" fill="none" class="path"></circle>
              </svg>
              <!---->
            </div>
          </div>
        </div>
        <div class="el-tabs__content">
          <div role="tabpanel" id="pane-1" aria-labelledby="tab-1" class="el-tab-pane">
            <div id="detail_block_list" class="panel-loading">
              <div class="media">
                <div class="media-left">
                  <img src="/images/ckk.jpg" />
                </div>
                <div class="media-body">
                  <div class="list-detail">
                    <h3 class="text-red"> &yen;0 </h3>
                    <div>
                      <span class="text-666">课程数量：</span>私教课(45分钟) &times; 3节 / 小班课(45分钟) &times; 3节 / 讲堂课(45分钟) &times; 15节
                    </div>
                    <div>
                      <span class="text-666">服务期限：</span>&times;30天
                    </div>
                    <div>
                      <span class="text-666">适用级别：</span>L1-L12
                    </div>
                    <div>
                      <span class="text-666">额外赠送：</span>赠送16U币 / 学习指导 / 英语胶囊
                    </div>
                    <div class="detail-control">
                      <div class="btn-list">
                        <button type="button" class="el-button el-button--primary el-button--small">
                          <!---->
                          <!---->
                          <span>立即添加</span>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="el-loading-mask el-loading-fade-enter-to" style="display: none;">
                <div class="el-loading-spinner">
                  <svg viewbox="25 25 50 50" class="circular">
                    <circle cx="50" cy="50" r="20" fill="none" class="path"></circle>
                  </svg>
                  <!---->
                </div>
              </div>
            </div>
            <div class="el-tabs__content">
              <div role="tabpanel" id="pane-1" aria-labelledby="tab-1" class="el-tab-pane">
                <div id="detail_block_list" class="panel-loading">
                  <div class="media">
                    <div class="media-left">
                      <img src="/images/ckk.jpg" />
                    </div>
                    <div class="media-body">
                      <div class="list-detail">
                        <h3 class="text-red"> &yen;0 </h3>
                        <div>
                          <span class="text-666">课程数量：</span>私教课(45分钟) &times; 3节 / 小班课(45分钟) &times; 3节 / 讲堂课(45分钟) &times; 15节
                        </div>
                        <div>
                          <span class="text-666">服务期限：</span>&times;30天
                        </div>
                        <div>
                          <span class="text-666">适用级别：</span>L1-L12
                        </div>
                        <div>
                          <span class="text-666">额外赠送：</span>赠送16U币 / 学习指导 / 英语胶囊
                        </div>
                        <div class="detail-control">
                          <div class="btn-list">
                            <button type="button" class="el-button el-button--primary el-button--small">
                              <!---->
                              <!---->
                              <span>立即添加</span>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="el-loading-mask el-loading-fade-enter-to" style="display: none;">
                    <div class="el-loading-spinner">
                      <svg viewbox="25 25 50 50" class="circular">
                        <circle cx="50" cy="50" r="20" fill="none" class="path"></circle>
                      </svg>
                      <!---->
                    </div>
                  </div>
                </div>
                <div class="el-tabs__content">
                  <div role="tabpanel" id="pane-1" aria-labelledby="tab-1" class="el-tab-pane">
                    <div id="detail_block_list" class="panel-loading">
                      <div class="media">
                        <div class="media-left">
                          <img src="/images/ly.jpg" />
                        </div>
                        <div class="media-body">
                          <div class="list-detail">
                            <h3 class="text-red"> &yen;0 </h3>
                            <div>
                              <span class="text-666">课程数量：</span>私教课(45分钟) &times; 3节 / 小班课(45分钟) &times; 3节 / 讲堂课(45分钟) &times; 15节
                            </div>
                            <div>
                              <span class="text-666">服务期限：</span>&times;30天
                            </div>
                            <div>
                              <span class="text-666">适用级别：</span>L1-L12
                            </div>
                            <div>
                              <span class="text-666">额外赠送：</span>赠送16U币 / 学习指导 / 英语胶囊
                            </div>
                            <div class="detail-control">
                              <div class="btn-list">
                                <button type="button" class="el-button el-button--primary el-button--small">
                                  <!---->
                                  <!---->
                                  <span>立即添加</span>
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="el-loading-mask el-loading-fade-enter-to" style="display: none;">
                        <div class="el-loading-spinner">
                          <svg viewbox="25 25 50 50" class="circular">
                            <circle cx="50" cy="50" r="20" fill="none" class="path"></circle>
                          </svg>
                          <!---->
                        </div>
                      </div>
                    </div>
                    <div class="el-tabs__content">
                      <div role="tabpanel" id="pane-1" aria-labelledby="tab-1" class="el-tab-pane">
                        <div id="detail_block_list" class="panel-loading">
                          <div class="media">
                            <div class="media-left">
                              <img src="/images/ly.jpg" />
                            </div>
                            <div class="media-body">
                              <div class="list-detail">
                                <h3 class="text-red"> &yen;0 </h3>
                                <div>
                                  <span class="text-666">课程数量：</span>私教课(45分钟) &times; 3节 / 小班课(45分钟) &times; 3节 / 讲堂课(45分钟) &times; 15节
                                </div>
                                <div>
                                  <span class="text-666">服务期限：</span>&times;30天
                                </div>
                                <div>
                                  <span class="text-666">适用级别：</span>L1-L12
                                </div>
                                <div>
                                  <span class="text-666">额外赠送：</span>赠送16U币 / 学习指导 / 英语胶囊
                                </div>
                                <div class="detail-control">
                                  <div class="btn-list">
                                    <button type="button" class="el-button el-button--primary el-button--small">
                                      <!---->
                                      <!---->
                                      <span>立即添加</span>
                                    </button>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="el-loading-mask el-loading-fade-enter-to" style="display: none;">
                            <div class="el-loading-spinner">
                              <svg viewbox="25 25 50 50" class="circular">
                                <circle cx="50" cy="50" r="20" fill="none" class="path"></circle>
                              </svg>
                              <!---->
                            </div>
                          </div>
                        </div>
                        <div class="el-tabs__content">
                          <div role="tabpanel" id="pane-1" aria-labelledby="tab-1" class="el-tab-pane">
                            <div id="detail_block_list" class="panel-loading">
                              <div class="media">
                                <div class="media-left">
                                  <img src="/images/ly.jpg" />
                                </div>
                                <div class="media-body">
                                  <div class="list-detail">
                                    <h3 class="text-red"> &yen;0 </h3>
                                    <div>
                                      <span class="text-666">课程数量：</span>私教课(45分钟) &times; 3节 / 小班课(45分钟) &times; 3节 / 讲堂课(45分钟) &times; 15节
                                    </div>
                                    <div>
                                      <span class="text-666">服务期限：</span>&times;30天
                                    </div>
                                    <div>
                                      <span class="text-666">适用级别：</span>L1-L12
                                    </div>
                                    <div>
                                      <span class="text-666">额外赠送：</span>赠送16U币 / 学习指导 / 英语胶囊
                                    </div>
                                    <div class="detail-control">
                                      <div class="btn-list">
                                        <button type="button" class="el-button el-button--primary el-button--small">
                                          <!---->
                                          <!---->
                                          <span>立即添加</span>
                                        </button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="el-loading-mask el-loading-fade-enter-to" style="display: none;">
                                <div class="el-loading-spinner">
                                  <svg viewbox="25 25 50 50" class="circular">
                                    <circle cx="50" cy="50" r="20" fill="none" class="path"></circle>
                                  </svg>
                                  <!---->
                                </div>
                              </div>
                            </div>
                            <div class="el-tabs__content">
                              <div role="tabpanel" id="pane-1" aria-labelledby="tab-1" class="el-tab-pane">
                                <div id="detail_block_list" class="panel-loading">
                                  <div class="media">
                                    <div class="media-left">
                                      <img src="/images/ms.jpg" />
                                    </div>
                                    <div class="media-body">
                                      <div class="list-detail">
                                        <h3 class="text-red"> &yen;0 </h3>
                                        <div>
                                          <span class="text-666">课程数量：</span>私教课(45分钟) &times; 3节 / 小班课(45分钟) &times; 3节 / 讲堂课(45分钟) &times; 15节
                                        </div>
                                        <div>
                                          <span class="text-666">服务期限：</span>&times;30天
                                        </div>
                                        <div>
                                          <span class="text-666">适用级别：</span>L1-L12
                                        </div>
                                        <div>
                                          <span class="text-666">额外赠送：</span>赠送16U币 / 学习指导 / 英语胶囊
                                        </div>
                                        <div class="detail-control">
                                          <div class="btn-list">
                                            <button type="button" class="el-button el-button--primary el-button--small">
                                              <!---->
                                              <!---->
                                              <span>立即添加</span>
                                            </button>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="el-loading-mask el-loading-fade-enter-to" style="display: none;">
                                    <div class="el-loading-spinner">
                                      <svg viewbox="25 25 50 50" class="circular">
                                        <circle cx="50" cy="50" r="20" fill="none" class="path"></circle>
                                      </svg>
                                      <!---->
                                    </div>
                                  </div>
                                </div>
                                <div class="el-tabs__content">
                                  <div role="tabpanel" id="pane-1" aria-labelledby="tab-1" class="el-tab-pane">
                                    <div id="detail_block_list" class="panel-loading">
                                      <div class="media">
                                        <div class="media-left">
                                          <img src="/images/ms.jpg" />
                                        </div>
                                        <div class="media-body">
                                          <div class="list-detail">
                                            <h3 class="text-red"> &yen;0 </h3>
                                            <div>
                                              <span class="text-666">课程数量：</span>私教课(45分钟) &times; 3节 / 小班课(45分钟) &times; 3节 / 讲堂课(45分钟) &times;
                                              15节
                                            </div>
                                            <div>
                                              <span class="text-666">服务期限：</span>&times;30天
                                            </div>
                                            <div>
                                              <span class="text-666">适用级别：</span>L1-L12
                                            </div>
                                            <div>
                                              <span class="text-666">额外赠送：</span>赠送16U币 / 学习指导 / 英语胶囊
                                            </div>
                                            <div class="detail-control">
                                              <div class="btn-list">
                                                <button type="button" class="el-button el-button--primary el-button--small">
                                                  <!---->
                                                  <!---->
                                                  <span>立即添加</span>
                                                </button>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="el-loading-mask el-loading-fade-enter-to" style="display: none;">
                                        <div class="el-loading-spinner">
                                          <svg viewbox="25 25 50 50" class="circular">
                                            <circle cx="50" cy="50" r="20" fill="none" class="path"></circle>
                                          </svg>
                                          <!---->
                                        </div>
                                      </div>
                                    </div>
                                    <div class="el-tabs__content">
                                      <div role="tabpanel" id="pane-1" aria-labelledby="tab-1" class="el-tab-pane">
                                        <div id="detail_block_list" class="panel-loading">
                                          <div class="media">
                                            <div class="media-left">
                                              <img src="/images/ms.jpg" />
                                            </div>
                                            <div class="media-body">
                                              <div class="list-detail">
                                                <h3 class="text-red"> &yen;0 </h3>
                                                <div>
                                                  <span class="text-666">课程数量：</span>私教课(45分钟) &times; 3节 / 小班课(45分钟) &times; 3节 / 讲堂课(45分钟) &times;
                                                  15节
                                                </div>
                                                <div>
                                                  <span class="text-666">服务期限：</span>&times;30天
                                                </div>
                                                <div>
                                                  <span class="text-666">适用级别：</span>L1-L12
                                                </div>
                                                <div>
                                                  <span class="text-666">额外赠送：</span>赠送16U币 / 学习指导 / 英语胶囊
                                                </div>
                                                <div class="detail-control">
                                                  <div class="btn-list">
                                                    <button type="button" class="el-button el-button--primary el-button--small">
                                                      <!---->
                                                      <!---->
                                                      <span>立即添加</span>
                                                    </button>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="el-loading-mask el-loading-fade-enter-to" style="display: none;">
                                            <div class="el-loading-spinner">
                                              <svg viewbox="25 25 50 50" class="circular">
                                                <circle cx="50" cy="50" r="20" fill="none" class="path"></circle>
                                              </svg>
                                              <!---->
                                            </div>
                                          </div>
                                        </div>
                                        <div class="el-tabs__content">
                                          <div role="tabpanel" id="pane-1" aria-labelledby="tab-1" class="el-tab-pane">
                                            <div id="detail_block_list" class="panel-loading">
                                              <div class="media">
                                                <div class="media-left">
                                                  <img src="/images/zrpd.jpg" />
                                                </div>
                                                <div class="media-body">
                                                  <div class="list-detail">
                                                    <h3 class="text-red"> &yen;0 </h3>
                                                    <div>
                                                      <span class="text-666">课程数量：</span>私教课(45分钟) &times; 3节 / 小班课(45分钟) &times; 3节 / 讲堂课(45分钟)
                                                      &times; 15节
                                                    </div>
                                                    <div>
                                                      <span class="text-666">服务期限：</span>&times;30天
                                                    </div>
                                                    <div>
                                                      <span class="text-666">适用级别：</span>L1-L12
                                                    </div>
                                                    <div>
                                                      <span class="text-666">额外赠送：</span>赠送16U币 / 学习指导 / 英语胶囊
                                                    </div>
                                                    <div class="detail-control">
                                                      <div class="btn-list">
                                                        <button type="button" class="el-button el-button--primary el-button--small">
                                                          <!---->
                                                          <!---->
                                                          <span>立即添加</span>
                                                        </button>
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                              <div class="el-loading-mask el-loading-fade-enter-to" style="display: none;">
                                                <div class="el-loading-spinner">
                                                  <svg viewbox="25 25 50 50" class="circular">
                                                    <circle cx="50" cy="50" r="20" fill="none" class="path"></circle>
                                                  </svg>
                                                  <!---->
                                                </div>
                                              </div>
                                            </div>
                                            <div class="el-tabs__content">
                                              <div role="tabpanel" id="pane-1" aria-labelledby="tab-1" class="el-tab-pane">
                                                <div id="detail_block_list" class="panel-loading">
                                                  <div class="media">
                                                    <div class="media-left">
                                                      <img src="/images/zrpd.jpg" />
                                                    </div>
                                                    <div class="media-body">
                                                      <div class="list-detail">
                                                        <h3 class="text-red"> &yen;0 </h3>
                                                        <div>
                                                          <span class="text-666">课程数量：</span>私教课(45分钟) &times; 3节 / 小班课(45分钟) &times; 3节 / 讲堂课(45分钟)
                                                          &times; 15节
                                                        </div>
                                                        <div>
                                                          <span class="text-666">服务期限：</span>&times;30天
                                                        </div>
                                                        <div>
                                                          <span class="text-666">适用级别：</span>L1-L12
                                                        </div>
                                                        <div>
                                                          <span class="text-666">额外赠送：</span>赠送16U币 / 学习指导 / 英语胶囊
                                                        </div>
                                                        <div class="detail-control">
                                                          <div class="btn-list">
                                                            <button type="button" class="el-button el-button--primary el-button--small">
                                                              <!---->
                                                              <!---->
                                                              <span>立即添加</span>
                                                            </button>
                                                          </div>
                                                        </div>
                                                      </div>
                                                    </div>
                                                  </div>
                                                  <div class="el-loading-mask el-loading-fade-enter-to" style="display: none;">
                                                    <div class="el-loading-spinner">
                                                      <svg viewbox="25 25 50 50" class="circular">
                                                        <circle cx="50" cy="50" r="20" fill="none" class="path"></circle>
                                                      </svg>
                                                      <!---->
                                                    </div>
                                                  </div>
                                                </div>
                                                <div class="el-tabs__content">
                                                  <div role="tabpanel" id="pane-1" aria-labelledby="tab-1" class="el-tab-pane">
                                                    <div id="detail_block_list" class="panel-loading">
                                                      <div class="media">
                                                        <div class="media-left">
                                                          <img src="/images/zrpd.jpg" />
                                                        </div>
                                                        <div class="media-body">
                                                          <div class="list-detail">
                                                            <h3 class="text-red"> &yen;0 </h3>
                                                            <div>
                                                              <span class="text-666">课程数量：</span>私教课(45分钟) &times; 3节 / 小班课(45分钟) &times; 3节 / 讲堂课(45分钟)
                                                              &times; 15节
                                                            </div>
                                                            <div>
                                                              <span class="text-666">服务期限：</span>&times;30天
                                                            </div>
                                                            <div>
                                                              <span class="text-666">适用级别：</span>L1-L12
                                                            </div>
                                                            <div>
                                                              <span class="text-666">额外赠送：</span>赠送16U币 / 学习指导 / 英语胶囊
                                                            </div>
                                                            <div class="detail-control">
                                                              <div class="btn-list">
                                                                <button type="button" class="el-button el-button--primary el-button--small">
                                                                  <!---->
                                                                  <!---->
                                                                  <span>立即添加</span>
                                                                </button>
                                                              </div>
                                                            </div>
                                                          </div>
                                                        </div>
                                                      </div>
                                                      <div class="el-loading-mask el-loading-fade-enter-to" style="display: none;">
                                                        <div class="el-loading-spinner">
                                                          <svg viewbox="25 25 50 50" class="circular">
                                                            <circle cx="50" cy="50" r="20" fill="none" class="path"></circle>
                                                          </svg>
                                                          <!---->
                                                        </div>
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 青少英语 -->
    <div class="el-tabs__content">
      <div role="tabpanel" id="pane-1" aria-labelledby="tab-1" class="el-tab-pane">
        <div id="detail_block_list" class="panel-loading">
          <div class="media">
            <div class="media-left">
              <img src="/images/qs.jpg" />
            </div>
            <div class="media-body">
              <div class="list-detail">
                <h3 class="text-red"> &yen;0 </h3>
                <div>
                  <span class="text-666">课程数量：</span>私教课(45分钟) &times; 3节 / 小班课(45分钟) &times; 3节 / 讲堂课(45分钟) &times; 15节
                </div>
                <div>
                  <span class="text-666">服务期限：</span>&times;30天
                </div>
                <div>
                  <span class="text-666">适用级别：</span>L1-L12
                </div>
                <div>
                  <span class="text-666">额外赠送：</span>赠送16U币 / 学习指导 / 英语胶囊
                </div>
                <div class="detail-control">
                  <div class="btn-list">
                    <button type="button" class="el-button el-button--primary el-button--small">
                      <!---->
                      <!---->
                      <span>立即添加</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="el-loading-mask el-loading-fade-enter-to" style="display: none;">
            <div class="el-loading-spinner">
              <svg viewbox="25 25 50 50" class="circular">
                <circle cx="50" cy="50" r="20" fill="none" class="path"></circle>
              </svg>
              <!---->
            </div>
          </div>
        </div>


        <div class="el-tabs__content">
          <div role="tabpanel" id="pane-1" aria-labelledby="tab-1" class="el-tab-pane">
            <div id="detail_block_list" class="panel-loading">
              <div class="media">
                <div class="media-left">
                  <img src="/images/qs.jpg" />
                </div>
                <div class="media-body">
                  <div class="list-detail">
                    <h3 class="text-red"> &yen;0 </h3>
                    <div>
                      <span class="text-666">课程数量：</span>私教课(45分钟) &times; 3节 / 小班课(45分钟) &times; 3节 / 讲堂课(45分钟) &times; 15节
                    </div>
                    <div>
                      <span class="text-666">服务期限：</span>&times;30天
                    </div>
                    <div>
                      <span class="text-666">适用级别：</span>L1-L12
                    </div>
                    <div>
                      <span class="text-666">额外赠送：</span>赠送16U币 / 学习指导 / 英语胶囊
                    </div>
                    <div class="detail-control">
                      <div class="btn-list">
                        <button type="button" class="el-button el-button--primary el-button--small">
                          <!---->
                          <!---->
                          <span>立即添加</span>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="el-loading-mask el-loading-fade-enter-to" style="display: none;">
                <div class="el-loading-spinner">
                  <svg viewbox="25 25 50 50" class="circular">
                    <circle cx="50" cy="50" r="20" fill="none" class="path"></circle>
                  </svg>
                  <!---->
                </div>
              </div>
            </div>


            <div class="el-tabs__content">
              <div role="tabpanel" id="pane-1" aria-labelledby="tab-1" class="el-tab-pane">
                <div id="detail_block_list" class="panel-loading">
                  <div class="media">
                    <div class="media-left">
                      <img src="/images/qs.jpg" />
                    </div>
                    <div class="media-body">
                      <div class="list-detail">
                        <h3 class="text-red"> &yen;0 </h3>
                        <div>
                          <span class="text-666">课程数量：</span>私教课(45分钟) &times; 3节 / 小班课(45分钟) &times; 3节 / 讲堂课(45分钟) &times; 15节
                        </div>
                        <div>
                          <span class="text-666">服务期限：</span>&times;30天
                        </div>
                        <div>
                          <span class="text-666">适用级别：</span>L1-L12
                        </div>
                        <div>
                          <span class="text-666">额外赠送：</span>赠送16U币 / 学习指导 / 英语胶囊
                        </div>
                        <div class="detail-control">
                          <div class="btn-list">
                            <button type="button" class="el-button el-button--primary el-button--small">
                              <!---->
                              <!---->
                              <span>立即添加</span>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="el-loading-mask el-loading-fade-enter-to" style="display: none;">
                    <div class="el-loading-spinner">
                      <svg viewbox="25 25 50 50" class="circular">
                        <circle cx="50" cy="50" r="20" fill="none" class="path"></circle>
                      </svg>
                      <!---->
                    </div>
                  </div>
                </div>

                <!-- 海外英语 -->
                <div class="el-tabs__content">
                  <div role="tabpanel" id="pane-1" aria-labelledby="tab-1" class="el-tab-pane">
                    <div id="detail_block_list" class="panel-loading">
                      <div class="media">
                        <div class="media-left">
                          <img src="/images/tf.jpg" />
                        </div>
                        <div class="media-body">
                          <div class="list-detail">
                            <h3 class="text-red"> &yen;0 </h3>
                            <div>
                              <span class="text-666">课程数量：</span>私教课(45分钟) &times; 3节 / 小班课(45分钟) &times; 3节 / 讲堂课(45分钟) &times; 15节
                            </div>
                            <div>
                              <span class="text-666">服务期限：</span>&times;30天
                            </div>
                            <div>
                              <span class="text-666">适用级别：</span>L1-L12
                            </div>
                            <div>
                              <span class="text-666">额外赠送：</span>赠送16U币 / 学习指导 / 英语胶囊
                            </div>
                            <div class="detail-control">
                              <div class="btn-list">
                                <button type="button" class="el-button el-button--primary el-button--small">
                                  <!---->
                                  <!---->
                                  <span>立即添加</span>
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="el-loading-mask el-loading-fade-enter-to" style="display: none;">
                        <div class="el-loading-spinner">
                          <svg viewbox="25 25 50 50" class="circular">
                            <circle cx="50" cy="50" r="20" fill="none" class="path"></circle>
                          </svg>
                          <!---->
                        </div>
                      </div>
                    </div>


                    <div class="el-tabs__content">
                      <div role="tabpanel" id="pane-1" aria-labelledby="tab-1" class="el-tab-pane">
                        <div id="detail_block_list" class="panel-loading">
                          <div class="media">
                            <div class="media-left">
                              <img src="/images/tf.jpg" />
                            </div>
                            <div class="media-body">
                              <div class="list-detail">
                                <h3 class="text-red"> &yen;0 </h3>
                                <div>
                                  <span class="text-666">课程数量：</span>私教课(45分钟) &times; 3节 / 小班课(45分钟) &times; 3节 / 讲堂课(45分钟) &times; 15节
                                </div>
                                <div>
                                  <span class="text-666">服务期限：</span>&times;30天
                                </div>
                                <div>
                                  <span class="text-666">适用级别：</span>L1-L12
                                </div>
                                <div>
                                  <span class="text-666">额外赠送：</span>赠送16U币 / 学习指导 / 英语胶囊
                                </div>
                                <div class="detail-control">
                                  <div class="btn-list">
                                    <button type="button" class="el-button el-button--primary el-button--small">
                                      <!---->
                                      <!---->
                                      <span>立即添加</span>
                                    </button>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="el-loading-mask el-loading-fade-enter-to" style="display: none;">
                            <div class="el-loading-spinner">
                              <svg viewbox="25 25 50 50" class="circular">
                                <circle cx="50" cy="50" r="20" fill="none" class="path"></circle>
                              </svg>
                              <!---->
                            </div>
                          </div>
                        </div>


                        <div class="el-tabs__content">
                          <div role="tabpanel" id="pane-1" aria-labelledby="tab-1" class="el-tab-pane">
                            <div id="detail_block_list" class="panel-loading">
                              <div class="media">
                                <div class="media-left">
                                  <img src="/images/tf.jpg" />
                                </div>
                                <div class="media-body">
                                  <div class="list-detail">
                                    <h3 class="text-red"> &yen;0 </h3>
                                    <div>
                                      <span class="text-666">课程数量：</span>私教课(45分钟) &times; 3节 / 小班课(45分钟) &times; 3节 / 讲堂课(45分钟) &times; 15节
                                    </div>
                                    <div>
                                      <span class="text-666">服务期限：</span>&times;30天
                                    </div>
                                    <div>
                                      <span class="text-666">适用级别：</span>L1-L12
                                    </div>
                                    <div>
                                      <span class="text-666">额外赠送：</span>赠送16U币 / 学习指导 / 英语胶囊
                                    </div>
                                    <div class="detail-control">
                                      <div class="btn-list">
                                        <button type="button" class="el-button el-button--primary el-button--small">
                                          <!---->
                                          <!---->
                                          <span>立即添加</span>
                                        </button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="el-loading-mask el-loading-fade-enter-to" style="display: none;">
                                <div class="el-loading-spinner">
                                  <svg viewbox="25 25 50 50" class="circular">
                                    <circle cx="50" cy="50" r="20" fill="none" class="path"></circle>
                                  </svg>
                                  <!---->
                                </div>
                              </div>
                            </div>

                            <!-- 商务英语 -->
                            <div class="el-tabs__content">
                              <div role="tabpanel" id="pane-1" aria-labelledby="tab-1" class="el-tab-pane">
                                <div id="detail_block_list" class="panel-loading">
                                  <div class="media">
                                    <div class="media-left">
                                      <img src="/images/sw.jpg" />
                                    </div>
                                    <div class="media-body">
                                      <div class="list-detail">
                                        <h3 class="text-red"> &yen;0 </h3>
                                        <div>
                                          <span class="text-666">课程数量：</span>私教课(45分钟) &times; 3节 / 小班课(45分钟) &times; 3节 / 讲堂课(45分钟) &times; 15节
                                        </div>
                                        <div>
                                          <span class="text-666">服务期限：</span>&times;30天
                                        </div>
                                        <div>
                                          <span class="text-666">适用级别：</span>L1-L12
                                        </div>
                                        <div>
                                          <span class="text-666">额外赠送：</span>赠送16U币 / 学习指导 / 英语胶囊
                                        </div>
                                        <div class="detail-control">
                                          <div class="btn-list">
                                            <button type="button" class="el-button el-button--primary el-button--small">
                                              <!---->
                                              <!---->
                                              <span>立即添加</span>
                                            </button>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="el-loading-mask el-loading-fade-enter-to" style="display: none;">
                                    <div class="el-loading-spinner">
                                      <svg viewbox="25 25 50 50" class="circular">
                                        <circle cx="50" cy="50" r="20" fill="none" class="path"></circle>
                                      </svg>
                                      <!---->
                                    </div>
                                  </div>
                                </div>


                                <div class="el-tabs__content">
                                  <div role="tabpanel" id="pane-1" aria-labelledby="tab-1" class="el-tab-pane">
                                    <div id="detail_block_list" class="panel-loading">
                                      <div class="media">
                                        <div class="media-left">
                                          <img src="/images/sw.jpg" />
                                        </div>
                                        <div class="media-body">
                                          <div class="list-detail">
                                            <h3 class="text-red"> &yen;0 </h3>
                                            <div>
                                              <span class="text-666">课程数量：</span>私教课(45分钟) &times; 3节 / 小班课(45分钟) &times; 3节 / 讲堂课(45分钟) &times;
                                              15节
                                            </div>
                                            <div>
                                              <span class="text-666">服务期限：</span>&times;30天
                                            </div>
                                            <div>
                                              <span class="text-666">适用级别：</span>L1-L12
                                            </div>
                                            <div>
                                              <span class="text-666">额外赠送：</span>赠送16U币 / 学习指导 / 英语胶囊
                                            </div>
                                            <div class="detail-control">
                                              <div class="btn-list">
                                                <button type="button" class="el-button el-button--primary el-button--small">
                                                  <!---->
                                                  <!---->
                                                  <span>立即添加</span>
                                                </button>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="el-loading-mask el-loading-fade-enter-to" style="display: none;">
                                        <div class="el-loading-spinner">
                                          <svg viewbox="25 25 50 50" class="circular">
                                            <circle cx="50" cy="50" r="20" fill="none" class="path"></circle>
                                          </svg>
                                          <!---->
                                        </div>
                                      </div>
                                    </div>


                                    <div class="el-tabs__content">
                                      <div role="tabpanel" id="pane-1" aria-labelledby="tab-1" class="el-tab-pane">
                                        <div id="detail_block_list" class="panel-loading">
                                          <div class="media">
                                            <div class="media-left">
                                              <img src="/images/sw.jpg" />
                                            </div>
                                            <div class="media-body">
                                              <div class="list-detail">
                                                <h3 class="text-red"> &yen;0 </h3>
                                                <div>
                                                  <span class="text-666">课程数量：</span>私教课(45分钟) &times; 3节 / 小班课(45分钟) &times; 3节 / 讲堂课(45分钟) &times;
                                                  15节
                                                </div>
                                                <div>
                                                  <span class="text-666">服务期限：</span>&times;30天
                                                </div>
                                                <div>
                                                  <span class="text-666">适用级别：</span>L1-L12
                                                </div>
                                                <div>
                                                  <span class="text-666">额外赠送：</span>赠送16U币 / 学习指导 / 英语胶囊
                                                </div>
                                                <div class="detail-control">
                                                  <div class="btn-list">
                                                    <button type="button" class="el-button el-button--primary el-button--small">
                                                      <!---->
                                                      <!---->
                                                      <span>立即添加</span>
                                                    </button>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="el-loading-mask el-loading-fade-enter-to" style="display: none;">
                                            <div class="el-loading-spinner">
                                              <svg viewbox="25 25 50 50" class="circular">
                                                <circle cx="50" cy="50" r="20" fill="none" class="path"></circle>
                                              </svg>
                                              <!---->
                                            </div>
                                          </div>
                                        </div>


                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- message -->
  <div style="position: absolute;width: 100%; top: 241px;">
    <div id="addCourseAlert" class="alert" style="display : none ;text-align: center;">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      <strong></strong>
    </div>
  </div>
  <script type="text/javascript" src="/lib/bootstrapValidator/vendor/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="/lib/bootstrapValidator/vendor/bootstrap/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/lib/bootstrapValidator/dist/js/bootstrapValidator.min.js"></script>

  <script>

    $(document).ready(function () {
      $('#addCourseForm')
        .bootstrapValidator({
          message: 'This value is not valid',
          container: '#errors',
          feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
          },
          fields: {
            count: {
              validators: {
                notEmpty: {
                  message: 'The count is required and cannot be empty'
                }
              }
            },
            time: {
              message: 'The time is not valid',
              validators: {
                notEmpty: {
                  message: 'The time is required and cannot be empty'
                }
              }
            },
            level: {
              message: 'The level is not valid',
              validators: {
                notEmpty: {
                  message: 'The level is required and cannot be empty'
                }
              }
            }
          }
        })
        .on('success.form.bv', function (e) {

          // Prevent form submission
          e.preventDefault();
          // Get the form instance
          var $form = $(e.target);
          // Get the BootstrapValidator instance
          // var bv = $form.data('bootstrapValidator');
          // Use Ajax to submit form data
          $.post($form.attr('action'), $form.serialize(), function (result) {
            $("button[data-dismiss='modal']").click();
            debugger;
            if (result.error) {
              $("#addCourseAlert").addClass("alert-danger").show();
              $("#addCourseAlert > strong").html("添加课程失败");
            } else {
              $("#addCourseAlert").addClass("alert-success").show();
              $("#addCourseAlert > strong").html("添加课程成功");
            }
            setTimeout(() => {
              $("#addCourseAlert").hide();
            }, 2000);
          }, 'json');
        });
    });
  </script>
</body>

</html>