 .boxkc{
    width: 1170px;
    padding-top: 10px;
    background-color: white;
    margin: 0px auto;
    
 }

 .boxtx{
    width: 1170px;
    height: 200px;
    background-color: white;
    margin: 10px auto;
 }

 .title{
    
    height: 50px;
    margin: 10px 30px;
    line-height: 50px;
 }

 .kc{
    background:pink;
    height: 200px;

 }