<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>添加课程</title>
  <link rel="icon" href="/favicon.ico">
  <link href="/lib/bootstrapValidator/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
  <link href="/css/Css.css" rel="stylesheet" />
  <link href="/css/index/default.css" rel="stylesheet" />
  <link href="/css/index/homeindex.css" rel="stylesheet" />
  <link href="/css/index/layout.css" rel="stylesheet" />
  <link rel="stylesheet" href="/css/addcourse.css">
  <style>
    .modal-dialog {
      z-index: 1040;
    }
  </style>


</head>

<body>
  <!-- 顶部导航 -->
  <%- include ../top %>
    <!-- 头部导航 -->
    <%- include ../nav%>

      <!-- 添加课程 -->

      <div class="renderbody">
        <div id="product_detail_index" class="container">
          <div class="el-tabs el-tabs--top">
            <div class="el-tabs__header is-top">
              <div class="el-tabs__nav-wrap is-top">
                <div class="el-tabs__nav-scroll">
                  <div role="tablist" class="el-tabs__nav" style="transform: translateX(0px);">
                    <div id="tab-1" aria-controls="pane-1" role="tab" aria-selected="true" tabindex="0" class="el-tabs__item is-top is-active">
                      成人口语
                    </div>
                    <div id="tab-2" aria-controls="pane-2" role="tab" tabindex="-1" class="el-tabs__item is-top">
                      零基础
                    </div>
                    <div id="tab-6" aria-controls="pane-6" role="tab" tabindex="-1" class="el-tabs__item is-top">
                      进阶英语
                    </div>
                    <div id="tab-5" aria-controls="pane-5" role="tab" tabindex="-1" class="el-tabs__item is-top">
                      旅游英语
                    </div>
                    <div id="tab-4" aria-controls="pane-4" role="tab" tabindex="-1" class="el-tabs__item is-top">
                      面试英语
                    </div>
                    <div id="tab-3" aria-controls="pane-3" role="tab" tabindex="-1" class="el-tabs__item is-top">
                      自然拼读
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- 成人口语 -->
            <div class="el-tabs__content">
              <div role="tabpanel" id="pane-1" aria-labelledby="tab-1" class="el-tab-pane">
                <div id="detail_block_list" class="panel-loading">
                </div>
                <div class="row">
                  <div class="col-*-12" style="text-align: center;">
                    <ul id="pager"></ul>
                  </div>
                </div>
              </div>

              <div role="tabpanel" id="pane-2" aria-labelledby="tab-2" class="el-tab-pane" style="display:none;">
                <div id="detail_block_list" class="panel-loading">
                </div>
                <div class="row">
                  <div class="col-*-12" style="text-align: center;">
                    <ul id="pager"></ul>
                  </div>
                </div>
              </div>
              <div role="tabpanel" id="pane-3" aria-labelledby="tab-3" class="el-tab-pane" style="display:none;">
                <div id="detail_block_list" class="panel-loading">
                </div>
                <div class="row">
                  <div class="col-*-12" style="text-align: center;">
                    <ul id="pager"></ul>
                  </div>
                </div>
              </div>
              <div role="tabpanel" id="pane-4" aria-labelledby="tab-4" class="el-tab-pane" style="display:none;">
                <div id="detail_block_list" class="panel-loading">
                </div>
                <div class="row">
                  <div class="col-*-12" style="text-align: center;">
                    <ul id="pager"></ul>
                  </div>
                </div>
              </div>
              <div role="tabpanel" id="pane-5" aria-labelledby="tab-5" class="el-tab-pane" style="display:none;">
                <div id="detail_block_list" class="panel-loading">
                </div>
                <div class="row">
                  <div class="col-*-12" style="text-align: center;">
                    <ul id="pager"></ul>
                  </div>
                </div>
              </div>
              <div role="tabpanel" id="pane-6" aria-labelledby="tab-6" class="el-tab-pane" style="display:none;">
                <div id="detail_block_list" class="panel-loading">
                </div>
                <div class="row">
                  <div class="col-*-12" style="text-align: center;">
                    <ul id="pager"></ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <%- include ../modal%>
          <script type="text/javascript" src="/lib/bootstrapValidator/vendor/jquery/jquery.min.js"></script>
          <script type="text/javascript" src="/lib/bootstrapValidator/vendor/bootstrap/js/bootstrap.min.js"></script>
          <script type="text/javascript" src="/lib/jquery.tmpl.min.js"></script>
          <script type="text/javascript" src="/lib/bootstrap-paginator.min.js"></script>
          <script type="text/javascript" src="/html/user/user_common.js"></script>

          <%- include tmpl%>
            <script>
              $(function () {
                $.each($(".el-tabs__nav div"), function (index, val) {
                  // initPage("成人英语", "成人口语", $("#pane-1").find("div#detail_block_list"), $("#pane-1").find("#pager"))
                  var pane = $(val).attr("aria-controls");
                  initPage("成人英语", $(val).html().trim(), $("#" + pane).find("div#detail_block_list"), $("#" + pane).find("#pager"))
                });
                //导航栏点击事件
                $(".el-tabs__nav div").click(function () {
                  debugger;
                  $(this).siblings().removeClass("is-active");
                  $(this).addClass("is-active");
                  $(".el-tabs__content").children().hide();
                  var showContentId = $(this).attr("aria-controls");
                  $("#" + showContentId).show();
                });
              });

              function initPage(type_one, type_two, $container, $pager) {
                $.ajax({
                  url: "/pc/getProductTotalCount",
                  type: 'post',
                  dataType: 'json',
                  data: {pageSize: 10, type_one: type_one, type_two: type_two},
                  success: function (data) {
                    var totalPages = data.pageCount;
                    var options = {
                      bootstrapMajorVersion: 3,
                      currentPage: 1,
                      totalPages: totalPages || 1,
                      onPageClicked: function (e, originalEvent, type, page) {
                        $.ajax({
                          url: "/pc/getProductPage",
                          data: {currentPage: page, pageSize: 10, type_one: type_one, type_two: type_two},
                          dataType: 'json',
                          type: "post",
                          success: function (data) {
                            // console.log(data.resources);
                            $container.empty();
                            $("#resource_detail_tmpl").tmpl(data.resources).appendTo($container);
                          }
                        })
                      }
                    }
                    // $('#pager').bootstrapPaginator(options);
                    // $("#pager li a:first-child").click();
                    $pager.bootstrapPaginator(options);
                    $pager.find("li a:first-child").click();
                  }
                });
              }


            </script>
</body>

</html>

<!--成人口语 -->

<!-- <div class="el-tabs__content">
    <div role="tabpanel" id="pane-1" aria-labelledby="tab-1" class="el-tab-pane">
      <div id="detail_block_list_real" class="panel-loading">
         <div class="media">
      <div class="media-left">
        <img src="/images/cr.jpg" />
      </div>
      <div class="media-body">
        <div class="list-detail">
          <h3 class="text-red"> &yen;0 </h3>
          <div>
            <span class="text-666">课程数量：</span>私教课(45分钟) &times; 3节 / 小班课(45分钟) &times; 3节 / 讲堂课(45分钟) &times; 15节
          </div>
          <div>
            <span class="text-666">服务期限：</span>&times;30天
          </div>
          <div>
            <span class="text-666">适用级别：</span>L1-L12
          </div>
          <div>
            <span class="text-666">额外赠送：</span>赠送16U币 / 学习指导 / 英语胶囊
          </div>
          <div class="detail-control">
            <div class="btn-list">
              <button type="button" class="el-button el-button--primary el-button--small">
                <span>立即添加</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="el-tabs__content">
        <div role="tabpanel" id="pane-1" aria-labelledby="tab-1" class="el-tab-pane">
          <div id="detail_block_list_real" class="panel-loading">
             <div class="media">
          <div class="media-left">
            <img src="/images/cr.jpg" />
          </div>
          <div class="media-body">
            <div class="list-detail">
              <h3 class="text-red"> &yen;0 </h3>
              <div>
                <span class="text-666">课程数量：</span>私教课(45分钟) &times; 3节 / 小班课(45分钟) &times; 3节 / 讲堂课(45分钟) &times; 15节
              </div>
              <div>
                <span class="text-666">服务期限：</span>&times;30天
              </div>
              <div>
                <span class="text-666">适用级别：</span>L1-L12
              </div>
              <div>
                <span class="text-666">额外赠送：</span>赠送16U币 / 学习指导 / 英语胶囊
              </div>
              <div class="detail-control">
                <div class="btn-list">
                  <button type="button" class="el-button el-button--primary el-button--small">
                    <span>立即添加</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="el-tabs__content">
            <div role="tabpanel" id="pane-1" aria-labelledby="tab-1" class="el-tab-pane">
              <div id="detail_block_list_real" class="panel-loading">
                 <div class="media">
              <div class="media-left">
                <img src="/images/cr.jpg" />
              </div>
              <div class="media-body">
                <div class="list-detail">
                  <h3 class="text-red"> &yen;0 </h3>
                  <div>
                    <span class="text-666">课程数量：</span>私教课(45分钟) &times; 3节 / 小班课(45分钟) &times; 3节 / 讲堂课(45分钟) &times; 15节
                  </div>
                  <div>
                    <span class="text-666">服务期限：</span>&times;30天
                  </div>
                  <div>
                    <span class="text-666">适用级别：</span>L1-L12
                  </div>
                  <div>
                    <span class="text-666">额外赠送：</span>赠送16U币 / 学习指导 / 英语胶囊
                  </div>
                  <div class="detail-control">
                    <div class="btn-list">
                      <button type="button" class="el-button el-button--primary el-button--small">
                        <span>立即添加</span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div> -->