<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>天涯英语-个人中心</title>
  <link rel="icon" href="/favicon.ico">
  <!--   <link href="https://attach.likeshuo.com/Layout/Web1/Css?v=20180411001" rel="stylesheet" />
  <link href="https://attach.likeshuo.com/Layout/Marketing/Css?v=20180411001" rel="stylesheet" />
 -->

  <link href="/css/Css.css" rel="stylesheet" />
  <link href="/css/index/default.css" rel="stylesheet" />
  <link href="/css/index/homeindex.css" rel="stylesheet" />
  <link href="/css/index/layout.css" rel="stylesheet" />
  <link href="/css/pc.css" rel="stylesheet" />
</head>

<body>
  <!-- 顶部导航 -->
  <%- include ../top %>
    <!-- 头部导航 -->
    <%- include ../nav%>


      <!-- 头像   -->
      <!--      <div class="boxtx">
        <div style="margin: 20px;display: inline-block">
          <img src="/images/tx.jpg">
        </div>
      </div> -->

      <!-- 管理课程 -->
      <!--    <div style="margin-left: 375px">
        <button type="button" class="el-button el-button--primary el-button--small">
          <span>我的课程</span>
        </button>
      </div> -->
      <div class="boxkc">
        <div class="el-tabs__content">
          <div role="tabpanel" id="pane-1" aria-labelledby="tab-1" class="el-tab-pane">
            <div id="detail_block_list" class="panel-loading">
            </div>
          </div>
        </div>
      </div>
      <%- include modal%>
        <script type="text/javascript" src="/lib/bootstrapValidator/vendor/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="/lib/bootstrapValidator/vendor/bootstrap/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/lib/jquery.tmpl.min.js"></script>
        <script type="text/javascript" src="/lib/bootstrap-paginator.min.js"></script>
        <script type="text/javascript" src="/html/user/user_common.js"></script>
        <%- include tmpl%>
          <script>
            $(function () {
              pc_center_init();
            });

            var pc_center_init = function () {
              $.ajax({
                url: "/pc/getResourceByUserIdAjax",
                data: {},
                dataType: 'json',
                type: "post",
                success: function (data) {
                  var $container = $("#detail_block_list");
                  $container.empty();
                  var $tempval = $("#resource_detail_tmpl").tmpl(data.resources);
                  $tempval.appendTo($container);
                }
              })
            }


            $(document).on('click', ".detail-control button.add", function (e) {
              var courseID = $(e.target).data('id');
              if (!courseID) {
                alert("请选择需要添加的课程");
                return false;
              }
              $.ajax({
                url: '/pc/addcourse',
                data: {courseID: courseID},
                dataType: 'json',
                type: "post",
                success: function (data) {
                  $("#myModal .modal-body").html(data.msg);
                  $("#myModal").modal();
                  debugger;
                  if (data.success) {
                    $(e.target).removeClass("add").addClass("del").html("立即移除");
                    pc_center_init();
                  }
                }
              });
            });
            $(document).on('click', ".detail-control button.del", function (e) {
              var courseID = $(e.target).data('id');
              if (!courseID) {
                alert("请选择需要移除的课程");
                return false;
              }
              $.ajax({
                url: '/pc/delcourseAjax',
                data: {courseID: courseID},
                dataType: 'json',
                type: "post",
                success: function (data) {
                  $("#myModal .modal-body").html(data.msg);
                  $("#myModal").modal();
                  if (data.success) {
                    $(e.target).removeClass("del").addClass("add").html("立即添加");
                    pc_center_init()
                  }
                }
              });
            });
          </script>
</body>

</html>