<!DOCTYPE html>
<html lang="en">
 <head> 
  <meta charset="UTF-8" /> 
  <title>天涯英语-管理中心-添加新闻</title> 
  <link rel="icon" href="../favicon.ico" /> 
  <link href="https://attach.likeshuo.com/Layout/Web1/Css?v=20180411001" rel="stylesheet" /> 
  <link href="https://attach.likeshuo.com/Layout/Marketing/Css?v=20180411001" rel="stylesheet" /> 
  <link href="../css/index/default.css" rel="stylesheet" /> 
  <link href="../css/index/homeindex.css" rel="stylesheet" /> 
  <link href="../css/index/layout.css" rel="stylesheet" /> 
  <link href="../css/pc.css" rel="stylesheet" /> 
 </head> 
 <body> 
  <!-- 顶部导航 --> 
  <%- include ../user/top %>
  <!-- 头部导航 --> 
  <%- include ../user/nav%>
  <!-- 头像   --> 
  <div class="boxtx"> 
   <div style="margin: 20px;display: inline-block"> 
    <img src="../images/ad.jpg" /> 
   </div> 
  </div> 
  <!-- 管理课程 --> 
  <div style="margin-left: 370px"> 
   <button type="button" class="el-button el-button--primary el-button--small"> <span>添加课程</span></button> 
   <button type="button" class="el-button el-button--primary el-button--small"> <span>添加新闻</span></button> 
   <button type="button" class="el-button el-button--primary el-button--small"> <span>意见箱</span></button> 
  </div> 

 <div class="boxkc">
   <a style="display: inline-block;width: 600px" href="#">Happy Teacher's Day！</a>
   <button type="button" style="margin-left: 400px" class="el-button el-button--primary el-button--small"><span>立即添加</span></button><br><br>
   <a style="display: inline-block;width: 600px"href="#">2017中国最具投资价值企业评选：美联国际教育进击50强！</a>
   <button type="button" style="margin-left: 400px" class="el-button el-button--primary el-button--small"><span>立即添加</span></button><br><br>
   <a style="display: inline-block;width: 600px"href="#">天涯英语荣获 “2017年度知名少儿英语品牌”大奖</a>
   <button type="button" style="margin-left: 400px" class="el-button el-button--primary el-button--small"><span>立即添加</span></button><br><br>
 </div>
 
 </body>
 </html>

 

