<!DOCTYPE html>
<html lang="en">
 <head> 
  <meta charset="UTF-8" /> 
  <title>天涯英语-管理中心-意见箱</title> 
  <link rel="icon" href="../favicon.ico" /> 
  <link href="https://attach.likeshuo.com/Layout/Web1/Css?v=20180411001" rel="stylesheet" /> 
  <link href="https://attach.likeshuo.com/Layout/Marketing/Css?v=20180411001" rel="stylesheet" /> 
  <link href="../css/index/default.css" rel="stylesheet" /> 
  <link href="../css/index/homeindex.css" rel="stylesheet" /> 
  <link href="../css/index/layout.css" rel="stylesheet" /> 
  <link href="../css/pc.css" rel="stylesheet" /> 
 </head> 
 <body> 
  <!-- 顶部导航 -->
  <%- include top %>
    <!-- 头部导航 -->
    <%- include nav%>
  <!-- 头像   --> 
  <div class="boxtx"> 
   <div style="margin: 20px;display: inline-block"> 
    <img src="../images/ad.jpg" /> 
   </div> 
  </div> 
  <!-- 管理课程 --> 
  <div style="margin-left: 370px"> 
   <button type="button" class="el-button el-button--primary el-button--small"> <span>添加课程</span></button> 
   <button type="button" class="el-button el-button--primary el-button--small"> <span>添加新闻</span></button> 
   <button type="button" class="el-button el-button--primary el-button--small"> <span>意见箱</span></button> 
  </div> 

 <div class="boxkc">
   这里是用户的意见
</div>
 </body>
 </html>

 

