<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>天涯英语-成人</title>
	<link rel="icon" href="../favicon.ico">
    <link href="/css/Css.css" rel="stylesheet" />
    <link href="../css/index/default.css" rel="stylesheet"/> 
    <link href="../css/index/homeindex.css" rel="stylesheet"/>    
    <link href="../css/index/layout.css" rel="stylesheet"/>
    <link rel="stylesheet" href="../css/adult.css">
  </head>
<body>
<!-- 顶部导航 -->
<%- include top %>
<!-- 头部导航 -->
<div id="shared_layout_header" class="clearfix">
        <nav class="clearfix layout-header1">
            <div class="container clearfix">
                <div id="shared_signin" class="pull-right">
                    <% if(user && user.name) { %>
                        <div>
                            <a href="/admin/administrator_coursetoadd">欢迎：
                                <%= user.name%>
                            </a>
                            <a href="/logout">退出</a>
                        </div>
                        <% }else { %>
                            <div>
                                <a href="/reg" class="btn btn-sm btn-primary">注册</a>
                                <a href="/login" class="btn btn-sm btn-default">登录</a>
                            </div>
                            <% } %>
                </div>
                <a href="/" class="pull-left">
                    <img src="/images/logo.PNG" alt="" class="img-responsive" />
                </a>
                <span class="pull-left hidden-xs">天涯英语，与全球友人一起学习!</span>
            </div>
        </nav>
        <nav class="clearfix navbar navbar-default layout-header2">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false" class="navbar-toggle collapsed">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a href="/" class="text-overflow">
                                 
                                <span>成人英语</span>
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li>
                            <a href="/idea" target="_blank" class="text-overflow">教学理念</a>
                        </li>
                        <li>
                            <a href="/teacher" target="_blank" class="text-overflow">教学师资</a>
                        </li>
                        <li>
                            <a href="/introduction" target="_blank" class="text-overflow">课程介绍</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
<!-- 图片 -->
   <div>
    <p style="text-align: center"><img src="../images/adult.PNG"></p>
   </div> 
 
<br><br><br>
 

<!-- 课程 -->
 
<div id="general_home_block_courseSystem">
  <div class="container">
   <h3 class="lks-main-title">课程体系</h3> 
   <h4 class="lks-sub-title">自创的庞大学习库，囊括了工作与生活的方方面面，让你在任何情况下，都可以应对自如</h4> 
   <div class="row">
    <div class="col-sm-6 col-md-4">
     <div class="thumbnail shadow no-padding">
      <div class="img-wrapper">
       <a href="/addcourse_adult"><img class="img-responsive" src="../images/course01.jpg" /></a>
      </div> 
      <div class="caption">
       <div class="lks-block-title">
        成人口语
       </div> 
       <p class="text-666 no-margin">涵盖工作、生活、娱乐等方方面面，告别哑巴英语</p>
      </div>
     </div>
    </div> 
    <div class="col-sm-6 col-md-4">
     <div class="thumbnail shadow no-padding">
      <div class="img-wrapper">
          <a href="/addcourse_adult"><img class="img-responsive" src="../images/course02.jpg" /></a>
      </div> 
      <div class="caption">
       <div class="lks-block-title">
        零基础
       </div> 
       <p class="text-666 no-margin">发音、词汇、语法及日常用语，打下夯实的英语基础</p>
      </div>
     </div>
    </div> 
    <div class="col-sm-6 col-md-4">
     <div class="thumbnail shadow no-padding">
      <div class="img-wrapper">
       <a href="/addcourse_adult"><img class="img-responsive" src="../images/course03.jpg" /></a>
      </div> 
      <div class="caption">
       <div class="lks-block-title">
        蹭课卡
       </div> 
       <p class="text-666 no-margin">海量课程等你来蹭，用空闲时间换一次口语的蜕变</p>
      </div>
     </div>
    </div> 
    <div class="col-sm-6 col-md-4">
     <div class="thumbnail shadow no-padding">
      <div class="img-wrapper">
          <a href="/addcourse_adult"><img class="img-responsive" src="../images/course04.jpg" /></a>
      </div> 
      <div class="caption">
       <div class="lks-block-title">
        旅游英语
       </div> 
       <p class="text-666 no-margin">英语不行，出国寸步难行！旅游英语助你顺畅自由行</p>
      </div>
     </div>
    </div> 
    <div class="col-sm-6 col-md-4">
     <div class="thumbnail shadow no-padding">
      <div class="img-wrapper">
          <a href="/addcourse_adult"><img class="img-responsive" src="../images/course05.jpg" /></a>
      </div> 
      <div class="caption">
       <div class="lks-block-title">
        面试英语
       </div> 
       <p class="text-666 no-margin">升职加薪、外企offer，面试主题英语助你职场晋升</p>
      </div>
     </div>
    </div> 
    <div class="col-sm-6 col-md-4">
     <div class="thumbnail shadow no-padding">
      <div class="img-wrapper">
          <a href="/addcourse_adult"><img class="img-responsive" src="../images/course06.jpg" /></a>
      </div> 
      <div class="caption">
       <div class="lks-block-title">
        自然拼读
       </div> 
       <p class="text-666 no-margin">掌握发音规律、见词能读、听音能写，让学习事半功倍</p>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>











<!-- 表格 -->
 
<div id="general_home_block_level">
   <div class="container">
    <h3 class="lks-main-title">英语级别对照表</h3> 
    <h4 class="lks-sub-title">立刻说为每一名学员提供更有针对性的定制化教学。同时，精准的考评使你的成长清晰可量化，更有助于燃起你学习的动力与激情。</h4> 
    <div class="intercept">
     <div class="wrapper">
      <div class="leveltype-item">
       <div class="text-center">
        <div class="clearfix">
         <div>
          Meten
         </div>
        </div> 
        <div class="clearfix">
         <div>
          CEFR
         </div>
        </div> 
        <div class="clearfix">
         <div>
          IELTS
         </div>
        </div> 
        <div class="clearfix">
         <div>
          CET
         </div>
        </div>
       </div> 
       <div class="level-wrapper">
        <div class="lks-position-center">
         级别描述
        </div>
       </div>
      </div> 
      <div class="leveltype-item">
       <div>
        <table>
         <tbody>
          <tr>
           <td>
            <div class="level level-01">
             <span>L0<small>上</small></span>
            </div> 
            <div class="level level-02">
             <span>L0<small>下</small></span>
            </div></td>
          </tr>
         </tbody>
        </table>
       </div> 
       <div class="text-center">
        <div class="clearfix">
         <div>
          M0
         </div>
        </div> 
        <div class="clearfix">
         <div>
          A1-
         </div>
        </div> 
        <div class="clearfix">
         <div>
          --
         </div>
        </div> 
        <div class="clearfix">
         <div>
          --
         </div>
        </div>
       </div> 
       <div class="level-wrapper">
        <div class="text-center">
         零基础
        </div> 
        <p class="text-666"> 完成零基础上、下全部课程的学习，可以顺畅衔接过度到L1级别的学习，为之后的级别提升奠定坚实的基础。 </p>
       </div>
      </div> 
      <div class="leveltype-item">
       <div>
        <table>
         <tbody>
          <tr>
           <td class="col-xs-6">
            <div class="level level-1">
             <span>L1</span>
            </div> 
            <div class="level level-2">
             <span>L2</span>
            </div></td> 
           <td>
            <div class="level level-3">
             <span>L3</span>
            </div> 
            <div class="level level-4">
             <span>L4</span>
            </div></td>
          </tr>
         </tbody>
        </table>
       </div> 
       <div class="text-center">
        <div class="clearfix">
         <div class="row">
          <div class="col-xs-6">
           <div>
            M1
           </div>
          </div> 
          <div class="col-xs-6">
           <div>
            M2
           </div>
          </div>
         </div>
        </div> 
        <div class="clearfix">
         <div class="row">
          <div class="col-xs-6">
           <div>
            A1
           </div>
          </div> 
          <div class="col-xs-6">
           <div>
            A2
           </div>
          </div>
         </div>
        </div> 
        <div class="clearfix">
         <div class="row">
          <div class="col-xs-6">
           <div>
            --
           </div>
          </div> 
          <div class="col-xs-6">
           <div>
            4-4.5
           </div>
          </div>
         </div>
        </div> 
        <div class="clearfix">
         <div class="row">
          <div class="col-xs-6">
           <div>
            --
           </div>
          </div> 
          <div class="col-xs-6">
           <div>
            --
           </div>
          </div>
         </div>
        </div>
       </div> 
       <div class="level-wrapper">
        <div class="text-center">
         初级
        </div> 
        <p class="text-666"> 输入/练习/纠正/互动/随心发挥；通过掌握各类常见话题场景下的词汇和句型，达到用英语正常沟通的水平。 </p>
       </div>
      </div> 
      <div class="leveltype-item">
       <div>
        <table>
         <tbody>
          <tr>
           <td class="col-xs-6">
            <div class="level level-5">
             <span>L5</span>
            </div> 
            <div class="level level-6">
             <span>L6</span>
            </div></td> 
           <td>
            <div class="level level-7">
             <span>L7</span>
            </div> 
            <div class="level level-8">
             <span>L8</span>
            </div></td>
          </tr>
         </tbody>
        </table>
       </div> 
       <div class="text-center">
        <div class="clearfix">
         <div class="row">
          <div class="col-xs-6">
           <div>
            M3
           </div>
          </div> 
          <div class="col-xs-6">
           <div>
            M4
           </div>
          </div>
         </div>
        </div> 
        <div class="clearfix">
         <div class="row">
          <div class="col-xs-6">
           <div>
            B1
           </div>
          </div> 
          <div class="col-xs-6">
           <div>
            B2
           </div>
          </div>
         </div>
        </div> 
        <div class="clearfix">
         <div class="row">
          <div class="col-xs-6">
           <div>
            5-5.5
           </div>
          </div> 
          <div class="col-xs-6">
           <div>
            6-6.5
           </div>
          </div>
         </div>
        </div> 
        <div class="clearfix">
         <div class="row">
          <div class="col-xs-6">
           <div>
            4级
           </div>
          </div> 
          <div class="col-xs-6">
           <div>
            6级
           </div>
          </div>
         </div>
        </div>
       </div> 
       <div class="level-wrapper">
        <div class="text-center">
         中级
        </div> 
        <p class="text-666"> 输入/练习/深入思考/讨论；通过对不同话题的深入探讨，不断加深语言的精准度，达到和外国人流利沟通的水平。 </p>
       </div>
      </div> 
      <div class="leveltype-item">
       <div>
        <table>
         <tbody>
          <tr>
           <td class="col-xs-6">
            <div class="level level-9">
             <span>L9</span>
            </div> 
            <div class="level level-10">
             <span>L10</span>
            </div></td> 
           <td>
            <div class="level level-11">
             <span>L11</span>
            </div> 
            <div class="level level-12">
             <span>L12</span>
            </div></td>
          </tr>
         </tbody>
        </table>
       </div> 
       <div class="text-center">
        <div class="clearfix">
         <div class="row">
          <div class="col-xs-6">
           <div>
            M5
           </div>
          </div> 
          <div class="col-xs-6">
           <div>
            M6
           </div>
          </div>
         </div>
        </div> 
        <div class="clearfix">
         <div class="row">
          <div class="col-xs-6">
           <div>
            C1
           </div>
          </div> 
          <div class="col-xs-6">
           <div>
            C1+
           </div>
          </div>
         </div>
        </div> 
        <div class="clearfix">
         <div class="row">
          <div class="col-xs-6">
           <div>
            7-7.5
           </div>
          </div> 
          <div class="col-xs-6">
           <div>
            8
           </div>
          </div>
         </div>
        </div> 
        <div class="clearfix">
         <div class="row">
          <div class="col-xs-6">
           <div>
            --
           </div>
          </div> 
          <div class="col-xs-6">
           <div>
            --
           </div>
          </div>
         </div>
        </div>
       </div> 
       <div class="level-wrapper">
        <div class="text-center">
         高级
        </div> 
        <p class="text-666"> 引入/深度讨论/文化剖析；对不同社会现象文化的深入探讨，形成英式思维，达到在专业场景下的英文的流利使用。 </p>
       </div>
      </div>
     </div>
    </div> 
    <div class="advice">
     <blockquote>
      <h4 class="no-margin-top">学习建议</h4> 
      <p class="text-666 text-fz16">只会听和写的语言是死的语言，只有能顺利的说出来才是有用的活的语言，因此一定要勇敢的说出来，大胆的去表达，可以从简单的语句开始练习，边思考边说，这样英语学习能力才能够较快的提高。</p> 
      <footer class="text-666">
       Anitar&nbsp;立刻说权威英语教学专家
      </footer>
     </blockquote> 
     
    </div>
   </div>
  </div>



</body>

<foot>
    <div id="shared_layout_footer" class="clearfix">
      <div class="container">
       <div class="footer-3">
        <h5 class="text-center text-white">友情链接</h5> 
        <ul class="list-inline">
         <li><a role="button" href="http://www.meten.com" title="美联英语" target="_blank">美联英语</a></li> 
         <li><a role="button" href="http://www.dingzhun.com.cn/" title="西安补习学校" target="_blank">西安补习学校</a></li> 
         <li><a role="button" href="http://www.huanqiuyijia.com" title="郑州翻译公司" target="_blank">郑州翻译公司</a></li> 
         <li><a role="button" href="http://www.400qikan.com" title="论文发表" target="_blank">论文发表</a></li> 
         <li><a role="button" href="http://www.itjspx.com" title="计算机学校" target="_blank">计算机学校</a></li> 
         <li><a role="button" href="http://sh.xhd.cn" title="新航道" target="_blank">新航道</a></li>
        </ul>
       </div> 
        
       <div class="footer-5 text-fz12">
        <a rel="nofollow" href="http://www.miitbeian.gov.cn/" target="_blank">Copyright&copy;深圳市前海美联科技有限公司&nbsp;&nbsp;粤ICP备16077954号</a> 
        <a href="https://tsm.miit.gov.cn/pages/home.aspx" target="_blank">信息服务业务 粤B2-20170370</a>
       </div>
      </div>
     </div>
    </foot>




</html>






