<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>天涯英语-商务</title>
	<link rel="icon" href="../favicon.ico">
	<link href="https://attach.likeshuo.com/Layout/Web1/Css?v=20180411001" rel="stylesheet"/>
    <link href="https://attach.likeshuo.com/Layout/Marketing/Css?v=20180411001" rel="stylesheet"/>

    <link href="../css/index/default.css" rel="stylesheet"/> 
    <link href="../css/index/homeindex.css" rel="stylesheet"/>    
    <link href="../css/index/layout.css" rel="stylesheet"/>
    <link rel="stylesheet" href="../css/business.css">
  </head>
<body>
<!-- 顶部导航 -->
<%- include top %>
<!-- 头部导航 -->
<%- include nav%>
<!-- 图片 -->

   <div>
    <p style="text-align: center"> <img src="../images/business.PNG"></p>
   </div> 
 

<!-- 课程 -->
 
<div id="professional_home_block_courseSystem">
   <div class="container">
    <h3 class="lks-main-title">课程体系</h3> 
    <h4 class="lks-sub-title">为职场人士专门定制的行业英语细分课程</h4> 
    <div class="row mgb30">
     <div class="col-md-6 col-sm-12">
      <div class="course-wrapper">
       <img class="img-responsive" data-src="https://attach.likeshuo.com/Content/Images/Marketing/Professional/Home/course1.png" src="https://attach.likeshuo.com/Content/Images/Marketing/Professional/Home/course1.png" lazy="loaded" /> 
       <div class="text-wrapper text-white">
        <h3 class="text-fz20 no-margin">商务英语</h3> 
        <p>适用人群：职场商务人士</p>
       </div>
      </div>
     </div> 
     <div class="col-md-3 col-sm-6">
      <div class="thumbnail shadow no-padding">
       <div class="img-wrapper">
        <img class="img-responsive" data-src="https://attach.likeshuo.com/Content/Images/Marketing/Professional/Home/course2.jpg" src="https://attach.likeshuo.com/Content/Images/Marketing/Professional/Home/course2.jpg" lazy="loaded" />
       </div> 
       <div class="caption">
        <h4 class="lks-block-title">国际贸易</h4> 
        <p class="text-666 no-margin">适用人群：国际贸易从业者，创业型中小企业，有兴趣进入贸易行业人士</p>
       </div>
      </div>
     </div> 
     <div class="col-md-3 col-sm-6">
      <div class="thumbnail shadow no-padding">
       <div class="img-wrapper">
        <img class="img-responsive" data-src="https://attach.likeshuo.com/Content/Images/Marketing/Professional/Home/course3.jpg" src="https://attach.likeshuo.com/Content/Images/Marketing/Professional/Home/course3.jpg" lazy="loaded" />
       </div> 
       <div class="caption">
        <h4 class="lks-block-title">会计英语</h4> 
        <p class="text-666 no-margin">适用人群：财务会计，审计，出纳</p>
       </div>
      </div>
     </div> 
     <div class="col-md-3 col-sm-6">
      <div class="thumbnail shadow no-padding">
       <div class="img-wrapper">
        <img class="img-responsive" data-src="https://attach.likeshuo.com/Content/Images/Marketing/Professional/Home/course4.jpg" src="https://attach.likeshuo.com/Content/Images/Marketing/Professional/Home/course4.jpg" lazy="loaded" />
       </div> 
       <div class="caption">
        <h4 class="lks-block-title">酒店英语</h4> 
        <p class="text-666 no-margin">适用人群：餐饮酒店从业者，度假旅行常客</p>
       </div>
      </div>
     </div> 
     <div class="col-md-3 col-sm-6">
      <div class="thumbnail shadow no-padding">
       <div class="img-wrapper">
        <img class="img-responsive" data-src="https://attach.likeshuo.com/Content/Images/Marketing/Professional/Home/course5.jpg" src="https://attach.likeshuo.com/Content/Images/Marketing/Professional/Home/course5.jpg" lazy="loaded" />
       </div> 
       <div class="caption">
        <h4 class="lks-block-title">物流英语</h4> 
        <p class="text-666 no-margin">适用人群：物流、快递从业者，货运代理中介</p>
       </div>
      </div>
     </div> 
     <div class="col-md-3 col-sm-6">
      <div class="thumbnail shadow no-padding">
       <div class="img-wrapper">
        <img class="img-responsive" data-src="https://attach.likeshuo.com/Content/Images/Marketing/Professional/Home/course6.jpg" src="https://attach.likeshuo.com/Content/Images/Marketing/Professional/Home/course6.jpg" lazy="loaded" />
       </div> 
       <div class="caption">
        <h4 class="lks-block-title">空姐英语</h4> 
        <p class="text-666 no-margin">适用人群：空乘人员，航空职员，商务客</p>
       </div>
      </div>
     </div> 
     <div class="col-md-3 col-sm-6">
      <div class="thumbnail shadow no-padding">
       <div class="img-wrapper">
        <img class="img-responsive" data-src="https://attach.likeshuo.com/Content/Images/Marketing/Professional/Home/course7.jpg" src="https://attach.likeshuo.com/Content/Images/Marketing/Professional/Home/course7.jpg" lazy="loaded" />
       </div> 
       <div class="caption">
        <h4 class="lks-block-title">社交媒体英语</h4> 
        <p class="text-666 no-margin">适用人群：市场营销，销售，新媒体营销者，自媒体爱好者，广告与活动策划</p>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
<!-- 三大块内容 -->
 
<div id="professional_philosophy_block_program">
   <div class="container">
    <h3 class="lks-main-title">定制化的学习方案</h3> 
    <h4 class="lks-sub-title"> 根据行业/企业的需求及职场人士的个人成长目标， 提供专业精准的行业英语培训体系 </h4> 
    <div class="row">
     <div class="col-sm-6 col-md-3 program-wrapper">
      <img class="img-responsive" data-src="https://attach.likeshuo.com/Content/Images/Marketing/Professional/Philosophy/program1.png" src="https://attach.likeshuo.com/Content/Images/Marketing/Professional/Philosophy/program1.png" lazy="loaded" /> 
      <h4 class="text-333">行业专属课程，直达目标</h4> 
      <p class="text-666"> 根据不同行业的工作需求与学习目标, 精准定制专属课程体系 </p>
     </div> 
     <div class="col-sm-6 col-md-3 program-wrapper">
      <img class="img-responsive" data-src="https://attach.likeshuo.com/Content/Images/Marketing/Professional/Philosophy/program2.png" src="https://attach.likeshuo.com/Content/Images/Marketing/Professional/Philosophy/program2.png" lazy="loaded" /> 
      <h4 class="text-333">教学资质与行业背景兼具</h4> 
      <p class="text-666"> 全欧美外教授课，进步更快速，纯正口语和行业技能双重提升 </p>
     </div> 
     <div class="col-sm-6 col-md-3 program-wrapper">
      <img class="img-responsive" data-src="https://attach.likeshuo.com/Content/Images/Marketing/Professional/Philosophy/program3.png" src="https://attach.likeshuo.com/Content/Images/Marketing/Professional/Philosophy/program3.png" lazy="loaded" /> 
      <h4 class="text-333">多种班型，按需随心选择</h4> 
      <p class="text-666"> 私教、小班、大班，个人提升、企业培训，按需选择，灵活匹配 </p>
     </div> 
     <div class="col-sm-6 col-md-3 program-wrapper">
      <img class="img-responsive" data-src="https://attach.likeshuo.com/Content/Images/Marketing/Professional/Philosophy/program4.png" src="https://attach.likeshuo.com/Content/Images/Marketing/Professional/Philosophy/program4.png" lazy="loaded" /> 
      <h4 class="text-333">24小时&times;365天，随时随地学</h4> 
      <p class="text-666"> 真人外教互动的在线课堂，不限时间与地点，工作忙也能学 </p>
     </div>
    </div>
   </div>
  </div> 
<div id="professional_philosophy_block_select">
   <div class="container">
    <h3 class="lks-main-title">行业英语教学理念</h3> 
    <h4 class="lks-sub-title">根据您所在的行业，个人兴趣以及英语等级，为您智能筛选最适合的课程</h4> 
    <div class="row">
     <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
       <img class="img-responsive" data-src="https://attach.likeshuo.com/Content/Images/Marketing/Professional/Philosophy/advance1.png" src="https://attach.likeshuo.com/Content/Images/Marketing/Professional/Philosophy/advance1.png" lazy="loaded" /> 
       <div class="caption">
        <h4 class="lks-block-title text-center">全英语学习环境</h4> 
        <p class="text-666">外教投入全部注意力与您在课堂上进行互动练习一节课您有超过 一半的时间开口说英文。</p>
       </div>
      </div>
     </div> 
     <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
       <img class="img-responsive" data-src="https://attach.likeshuo.com/Content/Images/Marketing/Professional/Philosophy/advance2.png" src="https://attach.likeshuo.com/Content/Images/Marketing/Professional/Philosophy/advance2.png" lazy="loaded" /> 
       <div class="caption">
        <h4 class="lks-block-title text-center">教师来自于各行业精英</h4> 
        <p class="text-666">精准研发的行业英语课程涉及多个行业领域，以满足不同需求的各行业人士，实战教学、学你所需。</p>
       </div>
      </div>
     </div> 
     <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
       <img class="img-responsive" data-src="https://attach.likeshuo.com/Content/Images/Marketing/Professional/Philosophy/advance3.png" src="https://attach.likeshuo.com/Content/Images/Marketing/Professional/Philosophy/advance3.png" lazy="loaded" /> 
       <div class="caption">
        <h4 class="lks-block-title text-center">实用的行业英语教材</h4> 
        <p class="text-666">基于语言程度测试结果规划课程，并根据实际学习进度动态调整难易度。</p>
       </div>
      </div>
     </div> 
     <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
       <img class="img-responsive" data-src="https://attach.likeshuo.com/Content/Images/Marketing/Professional/Philosophy/select1.jpg" src="https://attach.likeshuo.com/Content/Images/Marketing/Professional/Philosophy/select1.jpg" lazy="loaded" /> 
       <div class="caption">
        <h4 class="lks-block-title text-center">自由选择老师</h4> 
        <p class="text-666">高颜值、高资历，是老师，也是行业专家；无论你是颜值派还是专业控，都可以自由选择你喜欢的。</p>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div> 
<div id="professional_philosophy_block_advanced">
   <div class="container">
    <h3 class="lks-main-title">颜值高，进步快</h3> 
    <h4 class="lks-sub-title">在线学习，体验感最重要！在立刻说，学习不再枯燥，而是一件赏心悦目的事，学的开心，自然进步快</h4> 
    <div class="row">
     <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
       <img class="img-responsive" data-src="https://attach.likeshuo.com/Content/Images/Marketing/Professional/Philosophy/select1.jpg" src="https://attach.likeshuo.com/Content/Images/Marketing/Professional/Philosophy/select1.jpg" lazy="loaded" /> 
       <div class="caption">
        <h4 class="lks-block-title text-center">教师高颜值</h4> 
        <p class="text-666">我们跳过中介，组建自己的教师招聘与管理团队，从全球甄选高颜值欧美外教。</p>
       </div>
      </div>
     </div> 
     <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
       <img class="img-responsive" data-src="https://attach.likeshuo.com/Content/Images/Marketing/Professional/Philosophy/select2.png" src="https://attach.likeshuo.com/Content/Images/Marketing/Professional/Philosophy/select2.png" lazy="loaded" /> 
       <div class="caption">
        <h4 class="lks-block-title text-center">课程高颜值</h4> 
        <p class="text-666">研发团队除了确保课程体系的科学性、严谨性，还注重每一页课件的美观度。</p>
       </div>
      </div>
     </div> 
     <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
       <img class="img-responsive" data-src="https://attach.likeshuo.com/Content/Images/Marketing/Professional/Philosophy/select3.png" src="https://attach.likeshuo.com/Content/Images/Marketing/Professional/Philosophy/select3.png" lazy="loaded" /> 
       <div class="caption">
        <h4 class="lks-block-title text-center">平台高颜值</h4> 
        <p class="text-666">技术团队不仅开发了便捷的、有趣的学习功能，学习界面也设计得赏心悦目。</p>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>

 

 </body>




 <foot>
    <div id="shared_layout_footer" class="clearfix">
      <div class="container">
       <div class="footer-3">
        <h5 class="text-center text-white">友情链接</h5> 
        <ul class="list-inline">
         <li><a role="button" href="http://www.meten.com" title="美联英语" target="_blank">美联英语</a></li> 
         <li><a role="button" href="http://www.dingzhun.com.cn/" title="西安补习学校" target="_blank">西安补习学校</a></li> 
         <li><a role="button" href="http://www.huanqiuyijia.com" title="郑州翻译公司" target="_blank">郑州翻译公司</a></li> 
         <li><a role="button" href="http://www.400qikan.com" title="论文发表" target="_blank">论文发表</a></li> 
         <li><a role="button" href="http://www.itjspx.com" title="计算机学校" target="_blank">计算机学校</a></li> 
         <li><a role="button" href="http://sh.xhd.cn" title="新航道" target="_blank">新航道</a></li>
        </ul>
       </div> 
        
       <div class="footer-5 text-fz12">
        <a rel="nofollow" href="http://www.miitbeian.gov.cn/" target="_blank">Copyright&copy;深圳市前海美联科技有限公司&nbsp;&nbsp;粤ICP备16077954号</a> 
        <a href="https://tsm.miit.gov.cn/pages/home.aspx" target="_blank">信息服务业务 粤B2-20170370</a>
       </div>
      </div>
     </div>
    </foot>
</html>
