<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>天涯英语-新闻动态</title>
    <link rel="icon" href="../favicon.ico" />
    <link href="https://attach.likeshuo.com/Layout/Web1/Css?v=20180411001" rel="stylesheet" />
    <link href="https://attach.likeshuo.com/Layout/Marketing/Css?v=20180411001" rel="stylesheet" />
    <link href="../css/index/default.css" rel="stylesheet" />
    <link href="../css/index/homeindex.css" rel="stylesheet" />
    <link href="../css/index/layout.css" rel="stylesheet" />
    <link href="../css/pc.css" rel="stylesheet" />
</head>

<body>
    <!-- 顶部导航 -->
    <%- include top %>
        <!-- 头部导航 -->
        <%- include nav%>
            
                <div style="width: 1200px;height: 300px;background-color: white;margin: 0 auto;text-align: center;margin-top: 50px">

                <a style="display:inline-block; margin-top:140px" href="#">点击下载课程</a>    
                                
                </div>

</body>

</html>