<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>课程下载</title>
    <link rel="icon" href="../favicon.ico" />
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="/css/Css.css" rel="stylesheet" />
    <link href="../css/index/default.css" rel="stylesheet" />
    <link href="../css/index/homeindex.css" rel="stylesheet" />
    <link href="../css/index/layout.css" rel="stylesheet" />
    <link href="../css/pc.css" rel="stylesheet" />
</head>

<body>
    <!-- 顶部导航 -->
    <%- include top %>
        <!-- 头部导航 -->
        <%- include nav%>
            
                <div style="width: 1200px;height: 300px;background-color: white;margin: 0 auto;text-align: center;margin-top: 50px">
                <a style="display:inline-block; margin-top:140px" href="<%= resource.zipPath%>">点击下载课程</a>    
                                
                </div>

</body>

</html>