<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>天涯英语-首页</title>
  <link rel="icon" href="favicon.ico">
  <!-- bootstrap样式表链接 -->
  <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="http://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
  <script src="http://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <!-- 立刻说样式表链接 -->
  <link href="https://attach.likeshuo.com/Layout/Web1/Css?v=20180411001" rel="stylesheet" />
  <link href="https://attach.likeshuo.com/Layout/Marketing/Css?v=20180411001" rel="stylesheet" />

  <link href="css/index/default.css" rel="stylesheet" />
  <link href="css/index/homeindex.css" rel="stylesheet" />
  <link href="css/index/layout.css" rel="stylesheet" />
</head>

<body>
  <!-- 顶部导航 -->
  <%- include top %>
    <!-- 头部导航 -->
    <%- include nav%>

  <!-- 轮播图 -->
  <div id="myCarousel" class="carousel slide">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <!-- 轮播（Carousel）项目 -->
    <div class="carousel-inner">
      <div class="item active">
        <p style="text-align: center">
          <img src="images/adult.PNG" alt="First slide" />
        </p>
      </div>
      <div class="item">
        <p style="text-align: center">
          <img src="images/overseas.PNG" alt="Second slide" />
        </p>
      </div>
      <div class="item">
        <p style="text-align: center">
          <img src="images/business.PNG" alt="Third slide" />
        </p>
      </div>
    </div>
    <!-- 轮播（Carousel）导航 -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <br>
  <br>
  <br>
  <br>

  <!-- 为什么选择立刻说 -->
  <div id="home_block_why" class="cleafix">
    <div class="container">
      <h3 class="lks-main-title">为什么选择天涯英语</h3>
      <h5 class="lks-sub-title">5大核心优势，10余年专业教育背景，为你的英语学习保驾护航</h5>
      <div class="row">
        <div class="col-md-4 col-xs-12">
          <div class="why-item why-item1 lks-animate-showup animated-runing">
            <img alt="" class="img-responsive" data-src="https://attach.likeshuo.com/Content/Images/Marketing/Home/why1.png" src="https://attach.likeshuo.com/Content/Images/Marketing/Home/why1.png"
              lazy="loaded" />
            <div>
              <h3 class="lks-block-title">在线学习，不受时间地点限制 </h3>
              <div>
                电脑/平板/手机，随时随地学，真正想学就能学。
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-8 col-xs-12">
          <div class="row">
            <div class="col-md-6  col-xs-12">
              <div class="why-item lks-animate-showup animated-runing">
                <img alt="" class="img-responsive" data-src="https://attach.likeshuo.com/Content/Images/Marketing/Home/why2.png" src="https://attach.likeshuo.com/Content/Images/Marketing/Home/why2.png"
                  lazy="loaded" />
                <div>
                  <h4 class="lks-block-title">高颜值欧美外教，喜欢哪个选哪个</h4>
                  <div>
                    甄选欧美外教，专业与颜值兼具，纯正发音地道表达。
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-xs-12">
              <div class="why-item lks-animate-showup animated-runing">
                <img alt="" class="img-responsive" data-src="https://attach.likeshuo.com/Content/Images/Marketing/Home/why3.png" src="https://attach.likeshuo.com/Content/Images/Marketing/Home/why3.png"
                  lazy="loaded" />
                <div>
                  <h4 class="lks-block-title">全体系课程产品，总有一款适合你</h4>
                  <div>
                    成人/青少/出国考试/行业专属英语，专业研发团队，打造全面的课程体系。
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6  col-xs-12">
              <div class="why-item lks-animate-showup animated-runing">
                <img alt="" class="img-responsive" data-src="https://attach.likeshuo.com/Content/Images/Marketing/Home/why4.png" src="https://attach.likeshuo.com/Content/Images/Marketing/Home/why4.png"
                  lazy="loaded" />
                <div>
                  <h4 class="lks-block-title">免费邀请好友，共同学习进步快</h4>
                  <div>
                    你的课堂你做主，一键添加好友，与志同道合的小伙伴们一起坚持到底。
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6  col-xs-12">
              <div class="why-item lks-animate-showup animated-runing">
                <img alt="" class="img-responsive" data-src="https://attach.likeshuo.com/Content/Images/Marketing/Home/why5.png" src="https://attach.likeshuo.com/Content/Images/Marketing/Home/why5.png"
                  lazy="loaded" />
                <div>
                  <h4 class="lks-block-title">0风险，不满意随时退费/重修</h4>
                  <div>
                    如不满意，全程可随时退费；单节课程不满意，还能重修，学习轻松无忧。
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <!-- 10余年教育经验 -->
  <div id="home_block_about" class="cleafix">
    <div class="container">
      <h3 class="lks-main-title">教育经验丰富</h3>
      <h5 class="lks-sub-title">天涯英语是国际教育集团旗下的在线学习品牌</h5>
      <div class="row">
        <div class="col-md-4">
          <div class="about-item about-item1 lks-animate-showup animated-runing">
            <img alt="" class="img-responsive" data-src="https://attach.likeshuo.com/Content/Images/Marketing/Home/about1.png" src="https://attach.likeshuo.com/Content/Images/Marketing/Home/about1.png"
              lazy="loaded" />
            <h3 class="lks-block-title">12年教育行业背景</h3>
            <p class="text-666">天涯英语创立于2006年，分别于纽约、北京、深圳设立总部</p>
          </div>
        </div>
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-6">
              <div class="about-item lks-animate-showup animated-runing">
                <img alt="" class="img-responsive" data-src="https://attach.likeshuo.com/Content/Images/Marketing/Home/about2.png" src="https://attach.likeshuo.com/Content/Images/Marketing/Home/about2.png"
                  lazy="loaded" />
                <h3 class="lks-block-title">100多家教学中心</h3>
                <p class="text-666 paragraph">截止2018年，全国拥有100多家直营教学中心</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="about-item lks-animate-showup animated-runing">
                <img alt="" class="img-responsive" data-src="https://attach.likeshuo.com/Content/Images/Marketing/Home/about3.png" src="https://attach.likeshuo.com/Content/Images/Marketing/Home/about3.png"
                  lazy="loaded" />
                <h3 class="lks-block-title">20万学员的选择</h3>
                <p class="text-666 paragraph">教育强国，不忘初心，助力20万个梦想</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="about-item lks-animate-showup animated-runing">
                <img alt="" class="img-responsive" data-src="https://attach.likeshuo.com/Content/Images/Marketing/Home/about4.png" src="https://attach.likeshuo.com/Content/Images/Marketing/Home/about4.png"
                  lazy="loaded" />
                <h3 class="lks-block-title">全球团队达3000余人</h3>
                <p class="text-666 paragraph">教学与研发团队过千人，立志于整合全球教育资源</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="about-item lks-animate-showup animated-runing">
                <img alt="" class="img-responsive" data-src="https://attach.likeshuo.com/Content/Images/Marketing/Home/about5.png" src="https://attach.likeshuo.com/Content/Images/Marketing/Home/about5.png"
                  lazy="loaded" />
                <h3 class="lks-block-title">在线学习新体验</h3>
                <p class="text-666 paragraph">全国各地区立刻说体验店现已陆续开启</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- 高颜值教师 -->
  <div id="home_block_teacher" class="cleafix">
    <div class="container">
      <h3 class="lks-main-title">欧美高颜值教师</h3>
      <h5 class="lks-sub-title">言值与颜值齐飞，喜欢哪个选哪个，让你耳濡目染练就纯正发音和地道表达</h5>
      <div class="marketing_teacher_carousel">
        <div id="block_teacher_carousel" data-ride="carousel" data-interval="8000" class="carousel slide hidden-xs">
          <ol class="carousel-indicators">
            <li data-target="#block_teacher_carousel" data-slide-to="0" class=""></li>
            <li data-target="#block_teacher_carousel" data-slide-to="1" class="active"></li>
          </ol>
          <div role="listbox" class="carousel-inner">
            <div class="item">
              <div class="row">
                <div class="col-md-4 col-xs-4">
                  <div class="teacher-item text-center">
                    <div class="teacher-item-img">
                      <img alt="" class="img-responsive center-block" data-src="https://attach.likeshuo.com/Content/Images/Marketing/General/Teacher/list8.jpg"
                        src="https://attach.likeshuo.com/Content/Images/Marketing/General/Teacher/list8.jpg" lazy="loaded"
                      />
                      <i class="lks-icon lks-icon_play"></i>
                    </div>
                    <div class="teacher-item-info">
                      <h3>Oleg</h3>
                      <div class="intercept">
                        <span class="el-tag text-666 el-tag--gray">美式发音
                          <!---->
                        </span>
                        <span class="el-tag text-666 el-tag--gray">摄影师
                          <!---->
                        </span>
                        <span class="el-tag text-666 el-tag--gray">篮球运动员
                          <!---->
                        </span>
                        <span class="el-tag text-666 el-tag--gray">模特
                          <!---->
                        </span>
                      </div>
                      <div class="text-left text-666">
                        擅长日常英语、会话英语、商务英语、考试准备等课程，对语言学习有自己独特的见解。
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 col-xs-4">
                  <div class="teacher-item text-center">
                    <div class="teacher-item-img">
                      <img alt="" class="img-responsive center-block" data-src="https://attach.likeshuo.com/Content/Images/Marketing/General/Teacher/list6.jpg"
                        src="https://attach.likeshuo.com/Content/Images/Marketing/General/Teacher/list6.jpg" lazy="loaded"
                      />
                      <i class="lks-icon lks-icon_play"></i>
                    </div>
                    <div class="teacher-item-info">
                      <h3>Leia</h3>
                      <div class="intercept">
                        <span class="el-tag text-666 el-tag--gray">美式发音
                          <!---->
                        </span>
                        <span class="el-tag text-666 el-tag--gray">美丽
                          <!---->
                        </span>
                        <span class="el-tag text-666 el-tag--gray">才华
                          <!---->
                        </span>
                        <span class="el-tag text-666 el-tag--gray">中国版美国之音
                          <!---->
                        </span>
                      </div>
                      <div class="text-left text-666">
                        标准的美式发音，擅长课堂拓展，讲课生动而深刻。被称为是“行走的中国之声”。
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 col-xs-4">
                  <div class="teacher-item text-center">
                    <div class="teacher-item-img">
                      <img alt="" class="img-responsive center-block" data-src="https://attach.likeshuo.com/Content/Images/Marketing/General/Teacher/list1.jpg"
                        src="https://attach.likeshuo.com/Content/Images/Marketing/General/Teacher/list1.jpg" lazy="loaded"
                      />
                      <i class="lks-icon lks-icon_play"></i>
                    </div>
                    <div class="teacher-item-info">
                      <h3>Craig Wasahlo</h3>
                      <div class="intercept">
                        <span class="el-tag text-666 el-tag--gray">英国
                          <!---->
                        </span>
                        <span class="el-tag text-666 el-tag--gray">英式发音
                          <!---->
                        </span>
                        <span class="el-tag text-666 el-tag--gray">音乐才子
                          <!---->
                        </span>
                        <span class="el-tag text-666 el-tag--gray">风趣幽默
                          <!---->
                        </span>
                      </div>
                      <div class="text-left text-666">
                        讲课风趣幽默，话题感十足，同时还是一位拥有创作天赋的音乐才子。
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item active">
              <div class="row">
                <div class="col-md-4 col-xs-4">
                  <div class="teacher-item text-center">
                    <div class="teacher-item-img">
                      <img alt="" class="img-responsive center-block" data-src="https://attach.likeshuo.com/Content/Images/Marketing/General/Teacher/list5.jpg"
                        src="https://attach.likeshuo.com/Content/Images/Marketing/General/Teacher/list5.jpg" lazy="loaded"
                      />
                      <i class="lks-icon lks-icon_play"></i>
                    </div>
                    <div class="teacher-item-info">
                      <h3>Kathy Vitali</h3>
                      <div class="intercept">
                        <span class="el-tag text-666 el-tag--gray">美国
                          <!---->
                        </span>
                        <span class="el-tag text-666 el-tag--gray">美式发音
                          <!---->
                        </span>
                        <span class="el-tag text-666 el-tag--gray">人美声靓
                          <!---->
                        </span>
                        <span class="el-tag text-666 el-tag--gray">鼓励式教育
                          <!---->
                        </span>
                      </div>
                      <div class="text-left text-666">
                        对第二语言学习有着独特见解，将自身丰富经历融入教学，有效提升学习兴趣。
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 col-xs-4">
                  <div class="teacher-item text-center">
                    <div class="teacher-item-img">
                      <img alt="" class="img-responsive center-block" data-src="https://attach.likeshuo.com/Content/Images/Marketing/General/Teacher/list9.jpg"
                        src="https://attach.likeshuo.com/Content/Images/Marketing/General/Teacher/list9.jpg" lazy="loaded"
                      />
                      <i class="lks-icon lks-icon_play"></i>
                    </div>
                    <div class="teacher-item-info">
                      <h3>Ugo Marsilii</h3>
                      <div class="intercept">
                        <span class="el-tag text-666 el-tag--gray">美式发音
                          <!---->
                        </span>
                        <span class="el-tag text-666 el-tag--gray">设计师
                          <!---->
                        </span>
                        <span class="el-tag text-666 el-tag--gray">平面模特
                          <!---->
                        </span>
                      </div>
                      <div class="text-left text-666">
                        注重语言的实用性，肢体语言和表情丰富，擅长拓展，善于引导和鼓励学员发表自己的观点。
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 col-xs-4">
                  <div class="teacher-item text-center">
                    <div class="teacher-item-img">
                      <img alt="" class="img-responsive center-block" data-src="https://attach.likeshuo.com/Content/Images/Marketing/General/Teacher/list3.jpg"
                        src="https://attach.likeshuo.com/Content/Images/Marketing/General/Teacher/list3.jpg" lazy="loaded"
                      />
                      <i class="lks-icon lks-icon_play"></i>
                    </div>
                    <div class="teacher-item-info">
                      <h3>Ewelina</h3>
                      <div class="intercept">
                        <span class="el-tag text-666 el-tag--gray">美式发音
                          <!---->
                        </span>
                        <span class="el-tag text-666 el-tag--gray">中英主持人
                          <!---->
                        </span>
                        <span class="el-tag text-666 el-tag--gray">互动性强
                          <!---->
                        </span>
                        <span class="el-tag text-666 el-tag--gray">瑜伽教练
                          <!---->
                        </span>
                      </div>
                      <div class="text-left text-666">
                        用独特的“体验式”英语教学为学员拓展知识，课堂活跃指数常常爆表。
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <a href="#block_teacher_carousel" role="button" data-slide="prev" class="left carousel-control">
            <span>
              <i class="lks-icon lks-icon_thread-left"></i>
            </span>
            <span class="sr-only">Previous</span>
          </a>
          <a href="#block_teacher_carousel" role="button" data-slide="next" class="right carousel-control">
            <span>
              <i class="lks-icon lks-icon_thread-righ"></i>
            </span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        <div class="visible-xs xs-scroll intercept">
          <div class="xs-scroll-body">
            <div class="teacher-item text-center">
              <div class="teacher-item-img">
                <img alt="" class="img-responsive center-block" data-src="https://attach.likeshuo.com/Content/Images/Marketing/General/Teacher/list8.jpg"
                  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" lazy="loading" />
                <i class="lks-icon lks-icon_play"></i>
              </div>
              <div class="teacher-item-info">
                <h3>Oleg</h3>
                <div class="intercept">
                  <span class="el-tag text-666 el-tag--gray">美式发音
                    <!---->
                  </span>
                  <span class="el-tag text-666 el-tag--gray">摄影师
                    <!---->
                  </span>
                  <span class="el-tag text-666 el-tag--gray">篮球运动员
                    <!---->
                  </span>
                  <span class="el-tag text-666 el-tag--gray">模特
                    <!---->
                  </span>
                </div>
                <div class="text-left text-666">
                  擅长日常英语、会话英语、商务英语、考试准备等课程，对语言学习有自己独特的见解。
                </div>
              </div>
            </div>
            <div class="teacher-item text-center">
              <div class="teacher-item-img">
                <img alt="" class="img-responsive center-block" data-src="https://attach.likeshuo.com/Content/Images/Marketing/General/Teacher/list6.jpg"
                  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" lazy="loading" />
                <i class="lks-icon lks-icon_play"></i>
              </div>
              <div class="teacher-item-info">
                <h3>Leia</h3>
                <div class="intercept">
                  <span class="el-tag text-666 el-tag--gray">美式发音
                    <!---->
                  </span>
                  <span class="el-tag text-666 el-tag--gray">美丽
                    <!---->
                  </span>
                  <span class="el-tag text-666 el-tag--gray">才华
                    <!---->
                  </span>
                  <span class="el-tag text-666 el-tag--gray">中国版美国之音
                    <!---->
                  </span>
                </div>
                <div class="text-left text-666">
                  标准的美式发音，擅长课堂拓展，讲课生动而深刻。被称为是“行走的中国之声”。
                </div>
              </div>
            </div>
            <div class="teacher-item text-center">
              <div class="teacher-item-img">
                <img alt="" class="img-responsive center-block" data-src="https://attach.likeshuo.com/Content/Images/Marketing/General/Teacher/list1.jpg"
                  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" lazy="loading" />
                <i class="lks-icon lks-icon_play"></i>
              </div>
              <div class="teacher-item-info">
                <h3>Craig Wasahlo</h3>
                <div class="intercept">
                  <span class="el-tag text-666 el-tag--gray">英国
                    <!---->
                  </span>
                  <span class="el-tag text-666 el-tag--gray">英式发音
                    <!---->
                  </span>
                  <span class="el-tag text-666 el-tag--gray">音乐才子
                    <!---->
                  </span>
                  <span class="el-tag text-666 el-tag--gray">风趣幽默
                    <!---->
                  </span>
                </div>
                <div class="text-left text-666">
                  讲课风趣幽默，话题感十足，同时还是一位拥有创作天赋的音乐才子。
                </div>
              </div>
            </div>
            <div class="teacher-item text-center">
              <div class="teacher-item-img">
                <img alt="" class="img-responsive center-block" data-src="https://attach.likeshuo.com/Content/Images/Marketing/General/Teacher/list5.jpg"
                  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" lazy="loading" />
                <i class="lks-icon lks-icon_play"></i>
              </div>
              <div class="teacher-item-info">
                <h3>Kathy Vitali</h3>
                <div class="intercept">
                  <span class="el-tag text-666 el-tag--gray">美国
                    <!---->
                  </span>
                  <span class="el-tag text-666 el-tag--gray">美式发音
                    <!---->
                  </span>
                  <span class="el-tag text-666 el-tag--gray">人美声靓
                    <!---->
                  </span>
                  <span class="el-tag text-666 el-tag--gray">鼓励式教育
                    <!---->
                  </span>
                </div>
                <div class="text-left text-666">
                  对第二语言学习有着独特见解，将自身丰富经历融入教学，有效提升学习兴趣。
                </div>
              </div>
            </div>
            <div class="teacher-item text-center">
              <div class="teacher-item-img">
                <img alt="" class="img-responsive center-block" data-src="https://attach.likeshuo.com/Content/Images/Marketing/General/Teacher/list3.jpg"
                  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" lazy="loading" />
                <i class="lks-icon lks-icon_play"></i>
              </div>
              <div class="teacher-item-info">
                <h3>Ewelina</h3>
                <div class="intercept">
                  <span class="el-tag text-666 el-tag--gray">美式发音
                    <!---->
                  </span>
                  <span class="el-tag text-666 el-tag--gray">中英主持人
                    <!---->
                  </span>
                  <span class="el-tag text-666 el-tag--gray">互动性强
                    <!---->
                  </span>
                  <span class="el-tag text-666 el-tag--gray">瑜伽教练
                    <!---->
                  </span>
                </div>
                <div class="text-left text-666">
                  用独特的“体验式”英语教学为学员拓展知识，课堂活跃指数常常爆表。
                </div>
              </div>
            </div>
            <div class="teacher-item text-center">
              <div class="teacher-item-img">
                <img alt="" class="img-responsive center-block" data-src="https://attach.likeshuo.com/Content/Images/Marketing/General/Teacher/list9.jpg"
                  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" lazy="loading" />
                <i class="lks-icon lks-icon_play"></i>
              </div>
              <div class="teacher-item-info">
                <h3>Ugo Marsilii</h3>
                <div class="intercept">
                  <span class="el-tag text-666 el-tag--gray">美式发音
                    <!---->
                  </span>
                  <span class="el-tag text-666 el-tag--gray">设计师
                    <!---->
                  </span>
                  <span class="el-tag text-666 el-tag--gray">平面模特
                    <!---->
                  </span>
                </div>
                <div class="text-left text-666">
                  注重语言的实用性，肢体语言和表情丰富，擅长拓展，善于引导和鼓励学员发表自己的观点。
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="el-dialog__wrapper" size="large" style="display: none;">
      <div class="el-dialog" style="margin-top: 15vh;">
        <div class="el-dialog__header">
          <span class="el-dialog__title"></span>
          <button type="button" aria-label="Close" class="el-dialog__headerbtn">
            <i class="el-dialog__close el-icon el-icon-close"></i>
          </button>
        </div>
        <!---->
        <!---->
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>



  <!-- 横条 -->
  <div id="shared_block_register" class="text-white" style="background-image: url(&quot;https://attach.likeshuo.com/Content/Images/Marketing/Recruit/Teacher/registerBg.png&quot;);">
    <div class="container">
      <div class="register-wrapper text-center">
        <br>
        <br>
        <br>

        <h3 class="lks-main-title text-white">心动？行动！</h3>
        <h5 class="lks-sub-title text-white">现在，开始天涯英语学习之旅吧~</h5>

      </div>
    </div>
  </div>
  </div>
  <br>
  <br>
  <br>

  <!-- 步骤小图 -->
  <div id="home_block_steps" class="cleafix">
    <div class="container">
      <h3 class="lks-main-title">学习英语，从未如此简单轻松</h3>
      <h5 class="lks-sub-title">仅需4步，轻松开启在线学习之旅，系统性的学习，让您轻松融入学习环境</h5>
      <div class="row text-center">
        <div class="col-md-3">
          <div class="steps-item">
            <div class="img-wrapper">
              <img data-src="https://attach.likeshuo.com/Content/Images/Marketing/Home/step1.png" src="https://attach.likeshuo.com/Content/Images/Marketing/Home/step1.png"
                lazy="loaded" />
              <img class="step-dot hidden-xs hidden-sm" data-src="https://attach.likeshuo.com/Content/Images/Marketing/Shared/dot.png"
                src="https://attach.likeshuo.com/Content/Images/Marketing/Shared/dot.png" lazy="loaded" />
            </div>
            <p>学员注册/登录</p>

          </div>
        </div>
        <div class="col-md-3">
          <div class="steps-item">
            <div class="img-wrapper">
              <img data-src="https://attach.likeshuo.com/Content/Images/Marketing/Home/step2.png" src="https://attach.likeshuo.com/Content/Images/Marketing/Home/step2.png"
                lazy="loaded" />
              <img class="step-dot  hidden-xs hidden-sm" data-src="https://attach.likeshuo.com/Content/Images/Marketing/Shared/dot.png"
                src="https://attach.likeshuo.com/Content/Images/Marketing/Shared/dot.png" lazy="loaded" />
            </div>
            <p>购买课程方案</p>

          </div>
        </div>
        <div class="col-md-3">
          <div class="steps-item">
            <div class="img-wrapper">
              <img data-src="https://attach.likeshuo.com/Content/Images/Marketing/Home/step3.png" src="https://attach.likeshuo.com/Content/Images/Marketing/Home/step3.png"
                lazy="loaded" />
              <img class="step-dot  hidden-xs hidden-sm" data-src="https://attach.likeshuo.com/Content/Images/Marketing/Shared/dot.png"
                src="https://attach.likeshuo.com/Content/Images/Marketing/Shared/dot.png" lazy="loaded" />
            </div>
            <p>自选外教/时间/主题</p>

          </div>
        </div>
        <div class="col-md-3">
          <div class="steps-item">
            <div class="img-wrapper">
              <img data-src="https://attach.likeshuo.com/Content/Images/Marketing/Home/step4.png" src="https://attach.likeshuo.com/Content/Images/Marketing/Home/step4.png"
                lazy="loaded" />
            </div>
            <p>电脑/PAD/手机均可上课</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>




</body>
<!-- ----------------------------------------------------------------------- -->
<foot>
  <div id="shared_layout_footer" class="clearfix">
    <div class="container">
      <div class="footer-3">
        <h5 class="text-center text-white">友情链接</h5>
        <ul class="list-inline">
          <li>
            <a role="button" href="http://www.meten.com" title="美联英语" target="_blank">美联英语</a>
          </li>
          <li>
            <a role="button" href="http://www.dingzhun.com.cn/" title="西安补习学校" target="_blank">西安补习学校</a>
          </li>
          <li>
            <a role="button" href="http://www.huanqiuyijia.com" title="郑州翻译公司" target="_blank">郑州翻译公司</a>
          </li>
          <li>
            <a role="button" href="http://www.400qikan.com" title="论文发表" target="_blank">论文发表</a>
          </li>
          <li>
            <a role="button" href="http://www.itjspx.com" title="计算机学校" target="_blank">计算机学校</a>
          </li>
          <li>
            <a role="button" href="http://sh.xhd.cn" title="新航道" target="_blank">新航道</a>
          </li>
        </ul>
      </div>

      <div class="footer-5 text-fz12">
        <a rel="nofollow" href="http://www.miitbeian.gov.cn/" target="_blank">Copyright&copy;深圳市前海美联科技有限公司&nbsp;&nbsp;粤ICP备16077954号</a>
        <a href="https://tsm.miit.gov.cn/pages/home.aspx" target="_blank">信息服务业务 粤B2-20170370</a>
      </div>
    </div>
  </div>
  <script>
    $(document).ready(function(){
    });
  </script>
</foot>

</html>





<!-- 不知道干嘛用的 -->
<!--  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8" /> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge">   
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">  
    <meta name="renderer" content="webkit">
    <meta name="keywords" content="立刻说，在线英语培训，英语培训机构，网上学英语，网上学英语口语，成人英语口语，外教一对一，在线学英语，在线英语口语，在线英语学习，外教英语，立刻说英语，成人英语培训，英语口语培训，少儿英语培训">
    <meta name="description" content="立刻说(美联英语),在线英语培训机构,提供外教一对一免费英语口语学习公开课、青少英语、职场英语、雅思托福等出国英语培训,随时随地想学就学,免费试听热线:400-777-8828">
    <meta name="baidu-site-verification" content="z2r1hNdGcz" />
    <meta name="format-detection" content="telephone=no" /> -->