<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>天涯英语-青少</title>
	<link rel="icon" href="../favicon.ico">
    <link href="/css/Css.css" rel="stylesheet" />
    <link href="../css/index/default.css" rel="stylesheet"/> 
    <link href="../css/index/homeindex.css" rel="stylesheet"/>    
    <link href="../css/index/layout.css" rel="stylesheet"/>
    <link rel="stylesheet" href="../css/junior.css">
  </head>
<body>
<!-- 顶部导航 -->
<%- include top %>
<!-- 头部导航 -->
<div id="shared_layout_header" class="clearfix">
    <nav class="clearfix layout-header1">
        <div class="container clearfix">
            <div id="shared_signin" class="pull-right">
                <% if(user && user.name) { %>
                    <div>
                        <a href="/admin/administrator_coursetoadd">欢迎：
                            <%= user.name%>
                        </a>
                        <a href="/logout">退出</a>
                    </div>
                    <% }else { %>
                        <div>
                            <a href="/reg" class="btn btn-sm btn-primary">注册</a>
                            <a href="/login" class="btn btn-sm btn-default">登录</a>
                        </div>
                        <% } %>
            </div>
            <a href="/" class="pull-left">
                <img src="/images/logo.PNG" alt="" class="img-responsive" />
            </a>
            <span class="pull-left hidden-xs">天涯英语，与全球友人一起学习!</span>
        </div>
    </nav>
    <nav class="clearfix navbar navbar-default layout-header2">
        <div class="container">
            <div class="navbar-header">
                <button type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false" class="navbar-toggle collapsed">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="/junior" class="text-overflow">
                        
                            <span>青少英语</span>
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li>
                            <a href="/idea" target="_self" class="text-overflow">教学理念</a>
                        </li>
                        <li>
                            <a href="/teacher" target="_self" class="text-overflow">教学师资</a>
                        </li>
                        <li>
                            <a href="/introduction" target="_self" class="text-overflow">课程介绍</a>
                        </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<!-- 图片 -->

   <div>
    <p style="text-align: center"><img src="../images/junior.PNG" alt=""></p>
   </div> 
 
<!-- 课程 --> 
 
<div id="junior_home_block_course">
  <div class="container">
   <div class="title-junior-box text-center">
    <img class="img-responsive" data-src="https://attach.likeshuo.com/Content/Images/Marketing/Junior/Home/course1.png" src="https://attach.likeshuo.com/Content/Images/Marketing/Junior/Home/course1.png" lazy="loaded" /> 
    <h3 class="title-junior" style="margin-left: -40px;">课程体系</h3>
   </div> 
   <h4 class="lks-sub-title">欧美外教，国际权威教材，在家就能上的美国小学，节省家长时间，也免却孩子路途奔波</h4> 
   <div class="row course-item-1">
    <div class="col-lg-4 col-md-6 col-sm-6">
     <a href="javascript:void(0)">
      <div class="item-1 shadow clearfix" style="background: url(&quot;https://attach.likeshuo.com/Content/Images/Marketing/Junior/Home/course2.png&quot;) no-repeat;">
       <div class="text-center img-wrapper">
       <a href="/addcourse_junior"><img class="img-responsive" src="../images/course07.jpg" /></a> 
       </div> 
       <h4 class="lks-block-title text-center text-white">自然拼读</h4> 
       <p class="text-center">适用于：5岁～12岁</p> 
       <div class="item">
        母语为英语国家的孩子学英语的一套发音方法
       </div> 
       <div class="item">
        帮助孩子摆脱死记硬背记单词
       </div> 
       <div class="item">
        掌握基本的发音规则，字母和组合发音，高效应用于句子阅读和绘本阅读
       </div>
      </div></a>
    </div> 
    <div class="col-lg-4 col-md-6 col-sm-6">
     <a href="javascript:void(0)">
      <div class="item-1 shadow clearfix text-333" style="background: url(&quot;https://attach.likeshuo.com/Content/Images/Marketing/Junior/Home/course3.png&quot;) no-repeat;">
       <div class="text-center img-wrapper">
        <a href="/addcourse_junior">
            <img class="img-responsive" src="../images/course08.jpg" />
        </a>
       </div> 
       <h4 class="lks-block-title text-center">剑桥国际体系</h4> 
       <p class="text-center">适用于：5岁～12岁</p> 
       <div class="item">
        母语为非英语国家学习英语的一套学习方法
       </div> 
       <div class="item">
        帮助孩子搭建语言框架
       </div> 
       <div class="item">
        掌握基础语言能力，能够进行日常交流和表达
       </div>
      </div></a>
    </div> 
    <div class="col-lg-4 col-md-6 col-sm-6">
     <a href="javascript:void(0)">
      <div class="item-1 shadow clearfix" style="background: url(&quot;https://attach.likeshuo.com/Content/Images/Marketing/Junior/Home/course4.png&quot;) no-repeat;">
       <div class="text-center img-wrapper">
    <a href="/addcourse_junior">
        <img class="img-responsive" src="../images/course09.jpg" />
    </a>
       </div> 
       <h4 class="lks-block-title text-center text-white">同步加州体系</h4> 
       <p class="text-center">适用于：5岁～12岁</p> 
       <div class="item">
        母语为英语国家的一套系统学习英语学习方法
       </div> 
       <div class="item">
        锻炼英语思维实用能力用英语解决问题
       </div> 
       <div class="item">
        能够用英语去学习跨学科知识，提高应用能力
       </div>
      </div></a>
    </div>
   </div> 
 

    <div class="row course-item-2">
     <div class="col-md-3 col-sm-6">
      <div class="text-center">
       <img alt="" class="img-responsive" src="../images/1.png" lazy="loaded" />
      </div> 
      <h4 class="text-center lks-block-title">绘本阅读</h4> 
      <div class="text-666">
       帮助具备一定听说基础但不具备阅读能力的孩子获得英语阅读的工具，帮助孩子自主阅读。
      </div>
     </div> 
     <div class="col-md-3 col-sm-6">
      <div class="text-center">
       <img alt="" class="img-responsive"src="../images/2.png" lazy="loaded" />
      </div> 
      <h4 class="text-center lks-block-title">趣味科学</h4> 
      <div class="text-666">
       科普阅读则能够锻炼孩子的理性思维,丰富孩子的人生观，有利于孩子获得更广阔的科学学习空间。
      </div>
     </div> 
     <div class="col-md-3 col-sm-6">
      <div class="text-center">
       <img alt="" class="img-responsive" src="../images/3.png" lazy="loaded" />
      </div> 
      <h4 class="text-center lks-block-title">国家地理</h4> 
      <div class="text-666">
       帮助孩子增长知识，扩展孩子知识层面，更加科学全面地了解世界各地，提高探索兴趣。
      </div>
     </div> 
     <div class="col-md-3 col-sm-6">
      <div class="text-center">
       <img alt="" class="img-responsive" src="../images/4.png" lazy="loaded" />
      </div> 
      <h4 class="text-center lks-block-title">人文社科</h4> 
      <div class="text-666">
       人文科学和社会科学两大层面，帮助孩子了解人类精神层面和社会现象。
      </div>
     </div>
    </div>
   </div>
  </div>
<!-- 表格 -->

 
<div id="junior_home_block_level">
   <div class="container">
    <div class="title-junior-box text-center">
     <img class="img-responsive" src="../images/bg5.png" lazy="loaded" /> 
     <h3 class="title-junior">英语级别对照表</h3>
    </div> 
    <h4 class="lks-sub-title">为不同年龄、不同英语水平和学习需求的学生提供针对性解决方案，快速接轨国际学校英语水平</h4> 
    <div class="table-responsive text-center">
     <table class="table table-bordered text-666">
      <tbody>
       <tr>
        <td class="text-nowrap"></td> 
        <td class="text-nowrap"></td> 
        <td class="text-nowrap"></td> 
        <td class="text-nowrap"></td> 
        <td class="level">
         <div class="col2" style="height: 30px;"></div></td> 
        <td class="level">
         <div class="col2" style="height: 50px;"></div></td> 
        <td class="level">
         <div class="col2" style="height: 70px;"></div></td> 
        <td class="level">
         <div class="col2" style="height: 90px;"></div></td> 
        <td class="level">
         <div class="col2" style="height: 110px;"></div></td> 
        <td class="level">
         <div class="col2" style="height: 130px;"></div></td> 
        <td class="level">
         <div class="col2" style="height: 150px;"></div></td> 
        <td class="level">
         <div class="col2" style="height: 170px;"></div></td> 
        <td class="level">
         <div class="col2" style="height: 190px;"></div></td>
       </tr> 
       <tr>
        <td class="text-nowrap col5"> 课程产品 </td> 
        <td class="text-nowrap col5"> 培养目标 </td> 
        <td class="text-nowrap col5"> 适合人群 </td> 
        <td class="text-nowrap col5"> 对应级别 </td> 
        <td class="col5">J1</td> 
        <td class="col5">J2</td> 
        <td class="col5">J3</td> 
        <td class="col5">J4</td> 
        <td class="col5">J5</td> 
        <td class="col5">J6</td> 
        <td class="col5">J7</td> 
        <td class="col5">J8</td> 
        <td class="col5">J9</td>
       </tr> 
       <tr>
        <td rowspan="2" class="text-nowrap col3">美国原版权威教材</td> 
        <td rowspan="2" class="text-nowrap col3">运用语言能力解决<br />问题，通过英语学<br />习与理解其他学科</td> 
        <td rowspan="2" class="text-nowrap col3">未来计划出国<br />同步青少英语课程</td> 
        <td rowspan="2" class="text-nowrap col3">美国体系<br />CCSS标准</td> 
        <td class="col3">GK</td> 
        <td class="col3">G1-A</td> 
        <td class="col3">G1-B</td> 
        <td class="col3">G2-A</td> 
        <td class="col3">G2-B</td> 
        <td class="col3">G3-A</td> 
        <td class="col3">G3-B</td> 
        <td class="col3">G4-B<br />G4-A</td> 
        <td class="col3">G5-B<br />G5-A</td>
       </tr> 
       <tr>
        <td class="col3">美国幼儿园</td> 
        <td colspan="2" class="col3">美国一年级</td> 
        <td colspan="2" class="col3">美国二年级</td> 
        <td colspan="2" class="col3">美国三年级</td> 
        <td class="col3">美国<br />四年级</td> 
        <td class="col3">美国<br />五年级</td>
       </tr> 
       <tr>
        <td rowspan="2" class="text-nowrap col4">剑桥标准体系教材</td> 
        <td rowspan="2" class="text-nowrap col4">培养语言能力</td> 
        <td rowspan="2" class="text-nowrap col4">希望达到国际测评<br />标准,国内升学语言<br />能力标准</td> 
        <td rowspan="2" class="col4">剑桥国际标准体系</td> 
        <td class="col4">GS1</td> 
        <td class="col4">GS2</td> 
        <td class="col4">GS3</td> 
        <td class="col4">GS4</td> 
        <td class="col4">GS5</td> 
        <td class="col4">GS6</td> 
        <td class="col4">FB1</td> 
        <td class="col4">FB2</td> 
        <td class="col4">FB3</td>
       </tr> 
       <tr>
        <td colspan="2" class="col4">Starter</td> 
        <td colspan="2" class="col4">Mover</td> 
        <td colspan="2" class="col4">Flyer</td> 
        <td colspan="3" class="col4">Independent learner</td>
       </tr> 
       <tr>
        <td class="text-nowrap col4">自然拼读</td> 
        <td class="text-nowrap col4">掌握拼读规律<br />增强阅读理解能力</td> 
        <td class="text-nowrap col4">以英语为第二语言<br />的英语初学者</td> 
        <td colspan="5" class="col4">低年级自然拼读（48课）</td> 
        <td colspan="5" class="col4">高年级自然拼读（24课）</td>
       </tr> 
       <tr>
        <td colspan="4" rowspan="2" class="text-nowrap col1">CEFR欧洲语言共同框架参考标准</td> 
        <td class="col1">Beginner</td> 
        <td colspan="3" class="col1">Elememtary</td> 
        <td colspan="5" class="col1">Preintermediate Intermediate</td>
       </tr> 
       <tr>
        <td class="col1"></td> 
        <td class="col1"></td> 
        <td class="col1">A1</td> 
        <td class="col1">A1+</td> 
        <td class="col1">A2</td> 
        <td class="col1">A2+</td> 
        <td class="col1">B1</td> 
        <td class="col1">B1+</td> 
        <td class="col1">B2</td>
       </tr>
      </tbody>
     </table>
    </div> 
    <br /> 
    <blockquote>
     <h4 class="no-margin-top">学习建议</h4> 
     <p class="text-666 text-fz16">兴趣是孩子学习语言的关键，因为让孩子做喜欢的事比要求他们去做要容易和有效得多。每个孩子的兴趣点都是不一样的，这与他们的多元智能发展程度有很大关系。在立刻说青少儿英语的课堂中，不同学习者类型的孩子们可以通过丰富的教学活动，充分激发他们对英语学习的兴趣。</p> 
     <footer class="text-666">
      Christine&nbsp;立刻说权威教学专家
     </footer>
    </blockquote> 
    <!---->
   </div>
  </div>
 

</body>

<foot>
    <div id="shared_layout_footer" class="clearfix">
      <div class="container">
       <div class="footer-3">
        <h5 class="text-center text-white">友情链接</h5> 
        <ul class="list-inline">
         <li><a role="button" href="http://www.meten.com" title="美联英语" target="_blank">美联英语</a></li> 
         <li><a role="button" href="http://www.dingzhun.com.cn/" title="西安补习学校" target="_blank">西安补习学校</a></li> 
         <li><a role="button" href="http://www.huanqiuyijia.com" title="郑州翻译公司" target="_blank">郑州翻译公司</a></li> 
         <li><a role="button" href="http://www.400qikan.com" title="论文发表" target="_blank">论文发表</a></li> 
         <li><a role="button" href="http://www.itjspx.com" title="计算机学校" target="_blank">计算机学校</a></li> 
         <li><a role="button" href="http://sh.xhd.cn" title="新航道" target="_blank">新航道</a></li>
        </ul>
       </div> 
        
       <div class="footer-5 text-fz12">
        <a rel="nofollow" href="http://www.miitbeian.gov.cn/" target="_blank">Copyright&copy;深圳市前海美联科技有限公司&nbsp;&nbsp;粤ICP备16077954号</a> 
        <a href="https://tsm.miit.gov.cn/pages/home.aspx" target="_blank">信息服务业务 粤B2-20170370</a>
       </div>
      </div>
     </div>
    </foot>



</html>
