<div id="shared_layout_header" class="clearfix">
    <nav class="clearfix layout-header1">
        <div class="container clearfix">
            <div id="shared_signin" class="pull-right">
                <% if(user && user.name) { %>
                    <div>
                        <% if(user.role){ %>
                            <a href="/admin/administrator_coursetoadd">
                        <% }else {%>
                        <a href="/pc/pcenter">
                            <%}%>
                        欢迎：
                            <%= user.name%>
                        </a>
                        <a href="/logout">退出</a>
                    </div>
                    <% }else { %>
                        <div>
                            <a href="/reg" class="btn btn-sm btn-primary">注册</a>
                            <a href="/login" class="btn btn-sm btn-default">登录</a>
                        </div>
                        <% } %>
            </div>
            <a href="/" class="pull-left">
                <img src="/images/logo.PNG" alt="" class="img-responsive" />
            </a>
            <span class="pull-left hidden-xs">天涯英语，与全球友人一起学习!</span>
        </div>
    </nav>
    <nav class="clearfix navbar navbar-default layout-header2">
        <div class="container">
            <div class="navbar-header">
                <button type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false" class="navbar-toggle collapsed">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="/" class="text-overflow">
                            <i class="glyphicon glyphicon-home"></i>&nbsp;
                            <span>首页</span>
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li>
                        <a href="/adult" target="_blank" class="text-overflow">成人英语</a>
                    </li>
                    <li>
                        <a href="/junior" target="_blank" class="text-overflow">青少英语</a>
                    </li>
                    <li>
                        <a href="/business" target="_blank" class="text-overflow">商务英语</a>
                    </li>
                    <li>
                        <a href="/overseas" target="_blank" class="text-overflow">海外考试</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>