<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>天涯英语-新闻动态</title>
  <link rel="icon" href="../favicon.ico" />
  <link href="../css/index/default.css" rel="stylesheet" />
  <link href="../css/index/homeindex.css" rel="stylesheet" />
  <link href="../css/index/layout.css" rel="stylesheet" />
  <link href="../css/pc.css" rel="stylesheet" />
  <link href="/lib/bootstrapValidator/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
  <link href="/css/Css.css" rel="stylesheet" />
</head>

<body>
  <!-- 顶部导航 -->
  <%- include top %>
    <!-- 头部导航 -->
    <%- include nav%>
      <h2 style="text-align:center;margin-top: 50px">新闻动态</h2>
      <div style="margin-top: 50px">
        <div style="width: 1200px;height: 3000px;background-color: white;margin: 0 auto;text-align: center">
          <div id="detail_block_list" class="panel-loading">
            <!-- <a href="#">2018CCTV《爱拼才会赢》，天涯英语等你来挑战</a> -->
          </div>
          <div class="row">
            <div class="col-*-12" style="text-align: center;">
              <ul id="pager"></ul>
            </div>
          </div>
        </div>
      </div>
      <script type="text/javascript" src="/lib/bootstrapValidator/vendor/jquery/jquery.min.js"></script>
      <script type="text/javascript" src="/lib/bootstrapValidator/vendor/bootstrap/js/bootstrap.min.js"></script>
      <script type="text/javascript" src="/lib/bootstrapValidator/dist/js/bootstrapValidator.min.js"></script>
      <script type="text/javascript" src="/lib/jquery.tmpl.min.js"></script>
      <script type="text/javascript" src="/lib/bootstrap-paginator.min.js"></script>
      <script id="news_detail_tmpl" type="text/x-jquery-tmpl">
        <a href="/newsdetail/{{= _id}}" style="display: block; padding : 20px; font-size: 20px;">{{= title}}</a>
      </script>
      <script>
        initPage();
        function initPage() {
          $.ajax({
            url: "/common/getNewsTotalCount",
            type: 'post',
            dataType: 'json',
            data: {pageSize: 10},
            success: function (data) {
              var totalPages = data.pageCount;
              var options = {
                bootstrapMajorVersion: 3,
                currentPage: 1,
                totalPages: totalPages || 0,
                onPageClicked: function (e, originalEvent, type, page) {
                  $.ajax({
                    url: "/common/getNewsPage",
                    data: {currentPage: page, pageSize: 10},
                    dataType: 'json',
                    type: "post",
                    success: function (data) {
                      $('#detail_block_list').empty();
                      $("#news_detail_tmpl").tmpl(data.resources).appendTo('#detail_block_list');
                    }
                  })
                }
              }
              $('#pager').bootstrapPaginator(options);
              $("#pager li a:first-child").click();
            }
          });
        }
      </script>
</body>

</html>