<!DOCTYPE html>
<html lang="en">
 <head> 
  <meta charset="UTF-8" /> 
  <title>天涯英语-新闻动态</title> 
  <link rel="icon" href="../favicon.ico" /> 
    <link href="/css/Css.css" rel="stylesheet" />
  <link href="../css/index/default.css" rel="stylesheet" /> 
  <link href="../css/index/homeindex.css" rel="stylesheet" /> 
  <link href="../css/index/layout.css" rel="stylesheet" /> 
  <link href="../css/pc.css" rel="stylesheet" /> 
 </head> 
 <body> 
  <!-- 顶部导航 -->
  <%- include top %>
    <!-- 头部导航 -->
    <%- include nav%>


 <h2 style="text-align:center;margin-top: 50px">新闻动态</h2>

<div style="margin-top: 50px">
    <div style="width: 1200px;height: 3000px;background-color: white;margin: 0 auto;text-align: center">
   
        <div class="lianjie">
      <a href="#">2018CCTV《爱拼才会赢》，天涯英语等你来挑战</a><br><br>
      <a href="#">开学季，有一个高颜值老师是怎样的感受？</a><br><br>
      <a href="#">回归教育本质，49家在线少儿英语平台深度测评</a><br><br>
      <a href="#">25分钟课时弊端多，孩子升小学后，课程“时差”难跨越</a><br><br>
      <a href="#">天涯英语，无数学员青睐的英语学习网站，到底有什么魅力？</a><br><br>
      <a href="#">美联国际教育荣获“2017年度影响力教育集团”大奖</a><br><br>
      <a href="#">天涯英语荣获 “2017年度知名少儿英语品牌”大奖</a><br><br>
      <a href="#">如何给孩子选择在线课程， 每节课25分钟还是45分钟？</a><br><br>
      <a href="#">2017中国最具投资价值企业评选：美联国际教育进击50强！</a><br><br>
      <a href="#">自律和不自律的人生，有多大差别？</a><br><br>
      <a href="#">2018CCTV《爱拼才会赢》，天涯英语等你来挑战</a><br><br>
      <a href="#">开学季，有一个高颜值老师是怎样的感受？</a><br><br>
      <a href="#">回归教育本质，49家在线少儿英语平台深度测评</a><br><br>
      <a href="#">25分钟课时弊端多，孩子升小学后，课程“时差”难跨越</a><br><br>
      <a href="#">天涯英语，无数学员青睐的英语学习网站，到底有什么魅力？</a><br><br>
      <a href="#">美联国际教育荣获“2017年度影响力教育集团”大奖</a><br><br>
      <a href="#">天涯英语荣获 “2017年度知名少儿英语品牌”大奖</a><br><br>
      <a href="#">如何给孩子选择在线课程， 每节课25分钟还是45分钟？</a><br><br>
      <a href="#">2017中国最具投资价值企业评选：美联国际教育进击50强！</a><br><br>
    </div>
    </div>
</div>

 
 
  </body> 
  </html>