<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>天涯英语-在线测试</title>
  <link rel="icon" href="favicon.ico">
  <link rel="stylesheet" href="/lib/bootstrapValidator/vendor/bootstrap/css/bootstrap.min.css" />
  <link href="/css/Css.css" rel="stylesheet" />
  <link href="css/index/default.css" rel="stylesheet" />
  <link href="css/index/homeindex.css" rel="stylesheet" />
  <link href="css/index/layout.css" rel="stylesheet" />
</head>

<body>
  <!-- 顶部导航 -->
  <%- include top %>
    <!-- 头部导航 -->
    <%- include nav%>
    
    <br> <br> <br>
    <div  style="padding-left: 700px">
    <div class="w664 testing"> 
        <table width="800px"> 
         <tbody>
          <tr> 
           <td colspan="2" style=" font-weight:bold"> <span id="Label1">第1题</span>(共10道题目)：-A: Can you ski? -B: No, _____. </td> 
          </tr> 
          <tr style="height:40px"> 
           <td>A:we can </td> 
           <td> B:I can</td> 
          </tr> 
          <tr>
           <td> C: I can’t</td> 
           <td> D:you can’t</td> 
          </tr> 
          <tr> 
           <td colspan="2"> 请选择答案 ：<span id="RadioButtonList1"><input id="RadioButtonList1_0" type="radio" name="RadioButtonList1" value="1" checked="checked" /><label for="RadioButtonList1_0">A</label><input id="RadioButtonList1_1" type="radio" name="RadioButtonList1" value="2" /><label for="RadioButtonList1_1">B</label><input id="RadioButtonList1_2" type="radio" name="RadioButtonList1" value="3" /><label for="RadioButtonList1_2">C</label><input id="RadioButtonList1_3" type="radio" name="RadioButtonList1" value="4" /><label for="RadioButtonList1_3">D</label></span> </td> 
          </tr> 
         </tbody>
        </table> 
       </div>

       <div class="w664 testing"> 
        <table width="800px"> 
         <tbody>
          <tr> 
           <td colspan="2" style=" font-weight:bold"> <span id="Label1">第2题</span>(共10道题目)：-A. Where are your friends? -B. _____ are at school. </td> 
          </tr> 
          <tr style="height:40px"> 
           <td>A:We </td> 
           <td> B:You</td> 
          </tr> 
          <tr>
           <td> C: They</td> 
           <td> D:They're</td> 
          </tr> 
          <tr> 
           <td colspan="2"> 请选择答案 ：<span id="RadioButtonList1"><input id="RadioButtonList1_0" type="radio" name="RadioButtonList1" value="1" checked="checked" /><label for="RadioButtonList1_0">A</label><input id="RadioButtonList1_1" type="radio" name="RadioButtonList1" value="2" /><label for="RadioButtonList1_1">B</label><input id="RadioButtonList1_2" type="radio" name="RadioButtonList1" value="3" /><label for="RadioButtonList1_2">C</label><input id="RadioButtonList1_3" type="radio" name="RadioButtonList1" value="4" /><label for="RadioButtonList1_3">D</label></span> </td> 
          </tr> 
         </tbody>
        </table> 
       </div> 
       
       <div class="w664 testing"> 
        <table width="600px"> 
         <tbody>
          <tr> 
           <td colspan="2" style=" font-weight:bold"> <span id="Label1">第3题</span>(共10道题目)：My father’s sister is my _______. </td> 
          </tr> 
          <tr style="height:40px"> 
           <td>A:cousin </td> 
           <td> B:daughter</td> 
          </tr> 
          <tr>
           <td> C: grandmother</td> 
           <td> D:aunt</td> 
          </tr> 
          <tr> 
           <td colspan="2"> 请选择答案 ：<span id="RadioButtonList1"><input id="RadioButtonList1_0" type="radio" name="RadioButtonList1" value="1" checked="checked" /><label for="RadioButtonList1_0">A</label><input id="RadioButtonList1_1" type="radio" name="RadioButtonList1" value="2" /><label for="RadioButtonList1_1">B</label><input id="RadioButtonList1_2" type="radio" name="RadioButtonList1" value="3" /><label for="RadioButtonList1_2">C</label><input id="RadioButtonList1_3" type="radio" name="RadioButtonList1" value="4" /><label for="RadioButtonList1_3">D</label></span> </td> 
          </tr> 
         </tbody>
        </table> 
       </div>

       <div class="w664 testing"> 
        <table width="800px"> 
         <tbody>
          <tr> 
           <td colspan="2" style=" font-weight:bold"> <span id="Label1">第4题</span>(共10道题目)：The gas station is _________ Main Street. </td> 
          </tr> 
          <tr style="height:40px"> 
           <td>A:on </td> 
           <td> B:at</td> 
          </tr> 
          <tr>
           <td> C: next</td> 
           <td> D:close</td> 
          </tr> 
          <tr> 
           <td colspan="2"> 请选择答案 ：<span id="RadioButtonList1"><input id="RadioButtonList1_0" type="radio" name="RadioButtonList1" value="1" checked="checked" /><label for="RadioButtonList1_0">A</label><input id="RadioButtonList1_1" type="radio" name="RadioButtonList1" value="2" /><label for="RadioButtonList1_1">B</label><input id="RadioButtonList1_2" type="radio" name="RadioButtonList1" value="3" /><label for="RadioButtonList1_2">C</label><input id="RadioButtonList1_3" type="radio" name="RadioButtonList1" value="4" /><label for="RadioButtonList1_3">D</label></span> </td> 
          </tr> 
         </tbody>
        </table> 
       </div>

       <div class="w664 testing"> 
        <table width="800px"> 
         <tbody>
          <tr> 
           <td colspan="2" style=" font-weight:bold"> <span id="Label1">第5题</span>(共10道题目)：My favorite color is ______. </td> 
          </tr> 
          <tr style="height:40px"> 
           <td>A:broken </td> 
           <td> B:blue</td> 
          </tr> 
          <tr>
           <td> C: big</td> 
           <td> D:striped</td> 
          </tr> 
          <tr> 
           <td colspan="2"> 请选择答案 ：<span id="RadioButtonList1"><input id="RadioButtonList1_0" type="radio" name="RadioButtonList1" value="1" checked="checked" /><label for="RadioButtonList1_0">A</label><input id="RadioButtonList1_1" type="radio" name="RadioButtonList1" value="2" /><label for="RadioButtonList1_1">B</label><input id="RadioButtonList1_2" type="radio" name="RadioButtonList1" value="3" /><label for="RadioButtonList1_2">C</label><input id="RadioButtonList1_3" type="radio" name="RadioButtonList1" value="4" /><label for="RadioButtonList1_3">D</label></span> </td> 
          </tr> 
         </tbody>
        </table> 
       </div>

       <div class="w664 testing"> 
        <table width="800px"> 
         <tbody>
          <tr> 
           <td colspan="2" style=" font-weight:bold"> <span id="Label1">第6题</span>(共10道题目)：Is there a TV in ______ bedroom? </td> 
          </tr> 
          <tr style="height:40px"> 
           <td>A:are </td> 
           <td> B:you're</td> 
          </tr> 
          <tr>
           <td> C: you</td> 
           <td> D:your</td> 
          </tr> 
          <tr> 
           <td colspan="2"> 请选择答案 ：<span id="RadioButtonList1"><input id="RadioButtonList1_0" type="radio" name="RadioButtonList1" value="1" checked="checked" /><label for="RadioButtonList1_0">A</label><input id="RadioButtonList1_1" type="radio" name="RadioButtonList1" value="2" /><label for="RadioButtonList1_1">B</label><input id="RadioButtonList1_2" type="radio" name="RadioButtonList1" value="3" /><label for="RadioButtonList1_2">C</label><input id="RadioButtonList1_3" type="radio" name="RadioButtonList1" value="4" /><label for="RadioButtonList1_3">D</label></span> </td> 
          </tr> 
         </tbody>
        </table> 
       </div>

       <div class="w664 testing"> 
        <table width="600px"> 
         <tbody>
          <tr> 
           <td colspan="2" style=" font-weight:bold"> <span id="Label1">第7题</span>(共10道题目)：________ me. I’m looking for a belt. </td> 
          </tr> 
          <tr style="height:40px"> 
           <td>A:Sorry </td> 
           <td> B:Hi</td> 
          </tr> 
          <tr>
           <td> C: Excuse</td> 
           <td> D:Tell</td> 
          </tr> 
          <tr> 
           <td colspan="2"> 请选择答案 ：<span id="RadioButtonList1"><input id="RadioButtonList1_0" type="radio" name="RadioButtonList1" value="1" checked="checked" /><label for="RadioButtonList1_0">A</label><input id="RadioButtonList1_1" type="radio" name="RadioButtonList1" value="2" /><label for="RadioButtonList1_1">B</label><input id="RadioButtonList1_2" type="radio" name="RadioButtonList1" value="3" /><label for="RadioButtonList1_2">C</label><input id="RadioButtonList1_3" type="radio" name="RadioButtonList1" value="4" /><label for="RadioButtonList1_3">D</label></span> </td> 
          </tr> 
         </tbody>
        </table> 
       </div>

       <div class="w664 testing"> 
        <table width="800px"> 
         <tbody>
          <tr> 
           <td colspan="2" style=" font-weight:bold"> <span id="Label1">第8题</span>(共10道题目)：My daughter ______ a red bicycle. </td> 
          </tr> 
          <tr style="height:40px"> 
           <td>A:is </td> 
           <td> B:has</td> 
          </tr> 
          <tr>
           <td> C: ride</td> 
           <td> D:have</td> 
          </tr> 
          <tr> 
           <td colspan="2"> 请选择答案 ：<span id="RadioButtonList1"><input id="RadioButtonList1_0" type="radio" name="RadioButtonList1" value="1" checked="checked" /><label for="RadioButtonList1_0">A</label><input id="RadioButtonList1_1" type="radio" name="RadioButtonList1" value="2" /><label for="RadioButtonList1_1">B</label><input id="RadioButtonList1_2" type="radio" name="RadioButtonList1" value="3" /><label for="RadioButtonList1_2">C</label><input id="RadioButtonList1_3" type="radio" name="RadioButtonList1" value="4" /><label for="RadioButtonList1_3">D</label></span> </td> 
          </tr> 
         </tbody>
        </table> 
       </div>

       <div class="w664 testing"> 
        <table width="700px"> 
         <tbody>
          <tr> 
           <td colspan="2" style=" font-weight:bold"> <span id="Label1">第9题</span>(共10道题目)：Nancy is going to visit me_____. </td> 
          </tr> 
          <tr style="height:40px"> 
           <td>A:yesterday </td> 
           <td> B:last night</td> 
          </tr> 
          <tr>
           <td> C: this afternoon</td> 
           <td> D:the weekend</td> 
          </tr> 
          <tr> 
           <td colspan="2"> 请选择答案 ：<span id="RadioButtonList1"><input id="RadioButtonList1_0" type="radio" name="RadioButtonList1" value="1" checked="checked" /><label for="RadioButtonList1_0">A</label><input id="RadioButtonList1_1" type="radio" name="RadioButtonList1" value="2" /><label for="RadioButtonList1_1">B</label><input id="RadioButtonList1_2" type="radio" name="RadioButtonList1" value="3" /><label for="RadioButtonList1_2">C</label><input id="RadioButtonList1_3" type="radio" name="RadioButtonList1" value="4" /><label for="RadioButtonList1_3">D</label></span> </td> 
          </tr> 
         </tbody>
        </table> 
       </div>

       <div class="w664 testing"> 
        <table width="700px"> 
         <tbody>
          <tr> 
           <td colspan="2" style=" font-weight:bold"> <span id="Label1">第10题</span>(共10道题目)：He ate too ____ cheese. </td> 
          </tr> 
          <tr style="height:40px"> 
           <td>A:more </td> 
           <td> B:much</td> 
          </tr> 
          <tr>
           <td> C: many</td> 
           <td> D:few</td> 
          </tr> 
          <tr> 
           <td colspan="2"> 请选择答案 ：<span id="RadioButtonList1"><input id="RadioButtonList1_0" type="radio" name="RadioButtonList1" value="1" checked="checked" /><label for="RadioButtonList1_0">A</label><input id="RadioButtonList1_1" type="radio" name="RadioButtonList1" value="2" /><label for="RadioButtonList1_1">B</label><input id="RadioButtonList1_2" type="radio" name="RadioButtonList1" value="3" /><label for="RadioButtonList1_2">C</label><input id="RadioButtonList1_3" type="radio" name="RadioButtonList1" value="4" /><label for="RadioButtonList1_3">D</label></span> </td> 
          </tr> 
         </tbody>
        </table> 
       </div>
      </div>

      <input type="submit" value="提交">
      
       <!-- 正确答案：CDDAB DCBCB  -->
       <!-- 做对1-5题 推荐L1-L5级课程
       做对5-10题 推荐L5-L12级课程 -->

    </body>