<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>天涯英语-海外</title>
	<link rel="icon" href="../favicon.ico">
    <link href="/css/Css.css" rel="stylesheet" />
    <link href="../css/index/default.css" rel="stylesheet"/> 
    <link href="../css/index/homeindex.css" rel="stylesheet"/>    
    <link href="../css/index/layout.css" rel="stylesheet"/>
    <link rel="stylesheet" href="../css/overseas.css">
  </head>
<body>
<!-- 顶部导航 -->
<%- include top %>
<!-- 头部导航 -->
<div id="shared_layout_header" class="clearfix">
    <nav class="clearfix layout-header1">
        <div class="container clearfix">
            <div id="shared_signin" class="pull-right">
                <% if(user && user.name) { %>
                    <div>
                        <a href="/admin/administrator_coursetoadd">欢迎：
                            <%= user.name%>
                        </a>
                        <a href="/logout">退出</a>
                    </div>
                    <% }else { %>
                        <div>
                            <a href="/reg" class="btn btn-sm btn-primary">注册</a>
                            <a href="/login" class="btn btn-sm btn-default">登录</a>
                        </div>
                        <% } %>
            </div>
            <a href="/" class="pull-left">
                <img src="/images/logo.PNG" alt="" class="img-responsive" />
            </a>
            <span class="pull-left hidden-xs">天涯英语，与全球友人一起学习!</span>
        </div>
    </nav>
    <nav class="clearfix navbar navbar-default layout-header2">
        <div class="container">
            <div class="navbar-header">
                <button type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false" class="navbar-toggle collapsed">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="/" class="text-overflow">
                          
                            <span>海外考试</span>
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li>
                            <a href="/idea" target="_blank" class="text-overflow">教学理念</a>
                        </li>
                        <li>
                            <a href="/teacher" target="_blank" class="text-overflow">教学师资</a>
                        </li>
                        <li>
                            <a href="/introduction" target="_blank" class="text-overflow">课程介绍</a>
                        </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<!-- 图片 -->

   <div>
    <p style="text-align: center"><img src="../images/overseas.PNG"></p>
   </div> 
<!-- 课程 -->
 <div id="overseas_home_block_courseSystem">
   <div class="container">
    <h3 class="lks-main-title">课程体系</h3> 
    <h4 class="lks-sub-title">全面完善的海外考试课程体系，助力你的留学梦</h4> 
    <div class="row courseSystem-item1">
     <div class="col-md-3 col-sm-6 text-center">
      <a href="javascript:void(0)" class="shadow">
       <div class="img-wrapper">
        <a href="addcourse_overseas"><img class="img-responsive" src="../images/course17.jpg" lazy="loaded" /></a>
       </div> 
       <div class="courseSystem-item1-box">
        <h4 class="lks-block-title text-center">雅思&nbsp;IELTS</h4> 
        <div class="text-fz14 text-666 text-center">
         1V1私教、1V4小班
        </div>
       </div></a>
     </div> 
     <div class="col-md-3 col-sm-6 text-center">
      <a href="javascript:void(0)" class="shadow">
       <div class="img-wrapper">
          <a href="addcourse_overseas"><img class="img-responsive" src="../images/course18.jpg" lazy="loaded" /></a>
       </div> 
       <div class="courseSystem-item1-box">
        <h4 class="lks-block-title text-center">托福&nbsp;TOEFL</h4> 
        <div class="text-fz14 text-666 text-center">
         1V1私教、1V4小班
        </div>
       </div></a>
     </div> 
     <div class="col-md-3 col-sm-6 text-center">
      <a href="/overseas/course#a_course" class="shadow">
       <div class="img-wrapper">
          <a href="addcourse_overseas"><img class="img-responsive" src="../images/course19.jpg" lazy="loaded" /></a>
       </div> 
       <div class="courseSystem-item1-box">
        <h4 class="lks-block-title text-center">ACT&nbsp;/&nbsp;SAT</h4> 
        <div class="text-fz14 text-666 text-center">
         美国高考：1V1私教
        </div>
       </div></a>
     </div> 
     <div class="col-md-3 col-sm-6 text-center">
      <a href="/overseas/course#a_course" class="shadow">
       <div class="img-wrapper">
          <a href="addcourse_overseas"><img class="img-responsive" src="../images/course20.jpg" lazy="loaded" /></a>
       </div> 
       <div class="courseSystem-item1-box">
        <h4 class="lks-block-title text-center">GRE&nbsp;/&nbsp;GMAT</h4> 
        <div class="text-fz14 text-666 text-center">
         1V1私教
        </div>
       </div></a>
     </div>
    </div> 
    <div class="row courseSystem-item2">
     <div class="col-md-2"></div> 
     <div class="col-md-2 col-sm-6 col-xs-6">
      <a href="/overseas/course#a_course">
       <div class="img-responsive text-center">
        <img alt="" class="img-sponsive" src="../images/courseSystem1.png" lazy="loaded" />
       </div> <h4 class="text-666 lks-block-title text-center">AEAS</h4> 
       <div class="text-fz14 text-666 text-center">
        澳洲入学考试
       </div> 
       <div class="text-fz14 text-666 text-center">
        1V1私教
       </div></a>
     </div> 
     <div class="col-md-2 col-sm-6 col-xs-6">
      <a href="/overseas/course#a_course">
       <div class="img-responsive text-center">
        <img alt="" class="img-sponsive"src="../images/courseSystem2.png" lazy="loaded" />
       </div> <h4 class="text-666 lks-block-title text-center">GCSE</h4> 
       <div class="text-fz14 text-666 text-center">
        英国中学入学考试
       </div> 
       <div class="text-fz14 text-666 text-center">
        1V1私教
       </div></a>
     </div> 
     <div class="col-md-2 col-sm-6 col-xs-6">
      <a href="/overseas/course#a_course">
       <div class="img-responsive text-center">
        <img alt="" class="img-sponsive"src="../images/courseSystem3.png" lazy="loaded" />
       </div> <h4 class="text-666 lks-block-title text-center">A-LEVEL</h4> 
       <div class="text-fz14 text-666 text-center">
        英国大学入学考试
       </div> 
       <div class="text-fz14 text-666 text-center">
        1V1私教
       </div></a>
     </div> 
     <div class="col-md-2 col-sm-6 col-xs-6">
      <a href="/overseas/course#a_course">
       <div class="img-responsive text-center">
        <img alt="" class="img-sponsive"src="../images/courseSystem4.png" lazy="loaded" />
       </div> <h4 class="text-666 lks-block-title text-center">TOEFL -Junior</h4> 
       <div class="text-fz14 text-666 text-center">
        小托福考试
       </div> 
       <div class="text-fz14 text-666 text-center">
        1V1私教
       </div></a>
     </div> 
     <div class="col-md-2"></div>
    </div>
   </div>
  </div>

<!-- 考试时间 -->
<div id="overseas_exam_block_toefl">
   <div class="container">
    <h3 class="lks-main-title">2018年托福考试时间表</h3> 
    <table>
     <thead>
      <tr>
       <th>月份</th> 
       <th colspan="6">考试日期</th>
      </tr>
     </thead> 
     <tbody class="text-666">
      <tr>
       <td>1月</td> 
       <td>2018.01.06</td> 
       <td>2018.01.13</td> 
       <td>2018.01.27</td> 
       <td>2018.01.28</td> 
       <td>无</td> 
       <td>无</td>
      </tr>
      <tr>
       <td>2月</td> 
       <td>2018.02.04</td> 
       <td>无</td> 
       <td>无</td> 
       <td>无</td> 
       <td>无</td> 
       <td>无</td>
      </tr>
      <tr>
       <td>3月</td> 
       <td>2018.03.03</td> 
       <td>2018.03.10</td> 
       <td>2018.03.11</td> 
       <td>2018.03.24</td> 
       <td>2018.03.31</td> 
       <td>无</td>
      </tr>
      <tr>
       <td>4月</td> 
       <td>2018.04.15</td> 
       <td>2018.04.21</td> 
       <td>无</td> 
       <td>无</td> 
       <td>无</td> 
       <td>无</td>
      </tr>
      <tr>
       <td>5月</td> 
       <td>2018.05.06</td> 
       <td>2018.05.12</td> 
       <td>2018.05.19</td> 
       <td>2018.05.26</td> 
       <td>无</td> 
       <td>无</td>
      </tr>
      <tr>
       <td>6月</td> 
       <td>2018.06.02</td> 
       <td>2018.06.10</td> 
       <td>2018.06.23</td> 
       <td>2018.06.30</td> 
       <td>无</td> 
       <td>无</td>
      </tr>
      <tr>
       <td>7月</td> 
       <td>2018.07.01</td> 
       <td>2018.07.07</td> 
       <td>2018.07.08</td> 
       <td>2018.07.14</td> 
       <td>无</td> 
       <td>无</td>
      </tr>
      <tr>
       <td>8月</td> 
       <td>2018.08.25</td> 
       <td>2018.08.26</td> 
       <td>无</td> 
       <td>无</td> 
       <td>无</td> 
       <td>无</td>
      </tr>
      <tr>
       <td>9月</td> 
       <td>2018.09.02</td> 
       <td>2018.09.08</td> 
       <td>2018.09.09</td> 
       <td>2018.09.15</td> 
       <td>2018.09.16</td> 
       <td>无</td>
      </tr>
      <tr>
       <td>10月</td> 
       <td>2018.10.13</td> 
       <td>2018.10.14</td> 
       <td>2018.10.20</td> 
       <td>2018.10.27</td> 
       <td>2018.10.28</td> 
       <td>无</td>
      </tr>
      <tr>
       <td>11月</td> 
       <td>2018.11.04</td> 
       <td>2018.11.10</td> 
       <td>2018.11.11</td> 
       <td>2018.11.17</td> 
       <td>2018.11.24</td> 
       <td>2018.11.25</td>
      </tr>
      <tr>
       <td>12月</td> 
       <td>2018.12.01</td> 
       <td>2018.12.08</td> 
       <td>2018.12.15</td> 
       <td>2018.12.16</td> 
       <td>无</td> 
       <td>无</td>
      </tr>
     </tbody>
    </table>
   </div>
  </div>
 
<div id="overseas_exam_block_gre">
   <div class="container">
    <h3 class="lks-main-title">2018年GRE考试时间表</h3> 
    <table>
     <thead>
      <tr>
       <th>月份</th> 
       <th colspan="4">考试日期</th>
      </tr>
     </thead> 
     <tbody class="text-666">
      <tr>
       <td>1月</td> 
       <td>2018.01.05</td> 
       <td>2018.01.20</td> 
       <td>无</td> 
       <td>无</td>
      </tr>
      <tr>
       <td>2月</td> 
       <td>2018.02.02</td> 
       <td>无</td> 
       <td>无</td> 
       <td>无</td>
      </tr>
      <tr>
       <td>3月</td> 
       <td>2018.03.04</td> 
       <td>2018.03.17</td> 
       <td>2018.03.30</td> 
       <td>无</td>
      </tr>
      <tr>
       <td>4月</td> 
       <td>2018.04.14</td> 
       <td>2018.04.28</td> 
       <td>无</td> 
       <td>无</td>
      </tr>
      <tr>
       <td>5月</td> 
       <td>2018.05.13</td> 
       <td>2018.05.20</td> 
       <td>2018.05.27</td> 
       <td>无</td>
      </tr>
      <tr>
       <td>6月</td> 
       <td>2018.06.07</td> 
       <td>2018.06.15</td> 
       <td>2018.06.29</td> 
       <td>无</td>
      </tr>
      <tr>
       <td>7月</td> 
       <td>2018.07.05</td> 
       <td>2018.07.15</td> 
       <td>无</td> 
       <td>无</td>
      </tr>
      <tr>
       <td>8月</td> 
       <td>无</td> 
       <td>无</td> 
       <td>无</td> 
       <td>无</td>
      </tr>
      <tr>
       <td>9月</td> 
       <td>2018.09.01</td> 
       <td>2018.09.07</td> 
       <td>2018.09.14</td> 
       <td>2018.09.28</td>
      </tr>
      <tr>
       <td>10月</td> 
       <td>2018.10.12</td> 
       <td>2018.10.21</td> 
       <td>2018.10.26</td> 
       <td>无</td>
      </tr>
      <tr>
       <td>11月</td> 
       <td>2018.11.03</td> 
       <td>2018.11.18</td> 
       <td>2018.11.23</td> 
       <td>无</td>
      </tr>
      <tr>
       <td>12月</td> 
       <td>2018.12.02</td> 
       <td>2018.12.14</td> 
       <td>2018.12.22</td> 
       <td>无</td>
      </tr>
     </tbody>
    </table>
   </div>
  </div>
 
<div id="overseas_exam_block_sat_a">
   <div class="container">
    <h3 class="lks-main-title">2018年SAT考试时间表(全年)美国地区考点</h3> 
    <table>
     <thead>
      <tr>
       <th>SAT Date</th> 
       <th>SAT Subject Test Available?</th>
      </tr>
     </thead> 
     <tbody class="text-666">
      <tr>
       <td>2018.03.10</td> 
       <td>No</td>
      </tr>
      <tr>
       <td>2018.05.05</td> 
       <td>Yes</td>
      </tr>
      <tr>
       <td>2018.06.02</td> 
       <td>Yes</td>
      </tr>
      <tr>
       <td>Aug.25.2018</td> 
       <td>Yes</td>
      </tr>
      <tr>
       <td>Oct.06.2018</td> 
       <td>Yes</td>
      </tr>
      <tr>
       <td>Nov.03.2018</td> 
       <td>Yes</td>
      </tr>
      <tr>
       <td>Dec.01.2018</td> 
       <td>Yes</td>
      </tr>
     </tbody>
    </table>
   </div>
  </div>
 
 
<div id="overseas_exam_block_sat_i">
   <div class="container">
    <h3 class="lks-main-title">2018年SAT考试时间表(全年)国际地区考点</h3> 
    <table>
     <thead>
      <tr>
       <th>SAT Date</th> 
       <th>SAT Subject Test Available?</th>
      </tr>
     </thead> 
     <tbody class="text-666">
      <tr>
       <td>2018.03.10</td> 
       <td>Yes</td>
      </tr>
      <tr>
       <td>2018.05.05</td> 
       <td>Yes</td>
      </tr>
      <tr>
       <td>2018.06.02</td> 
       <td>Yes</td>
      </tr>
      <tr>
       <td>Aug.25.2018</td> 
       <td>Yes</td>
      </tr>
      <tr>
       <td>Oct.06.2018</td> 
       <td>Yes</td>
      </tr>
      <tr>
       <td>Nov.03.2018</td> 
       <td>Yes</td>
      </tr>
      <tr>
       <td>Dec.01.2018</td> 
       <td>Yes</td>
      </tr>
     </tbody>
    </table>
   </div>
  </div>
 
 </body>


<br><br><br><br><br>

 <foot>
    <div id="shared_layout_footer" class="clearfix">
      <div class="container">
       <div class="footer-3">
        <h5 class="text-center text-white">友情链接</h5> 
        <ul class="list-inline">
         <li><a role="button" href="http://www.meten.com" title="美联英语" target="_blank">美联英语</a></li> 
         <li><a role="button" href="http://www.dingzhun.com.cn/" title="西安补习学校" target="_blank">西安补习学校</a></li> 
         <li><a role="button" href="http://www.huanqiuyijia.com" title="郑州翻译公司" target="_blank">郑州翻译公司</a></li> 
         <li><a role="button" href="http://www.400qikan.com" title="论文发表" target="_blank">论文发表</a></li> 
         <li><a role="button" href="http://www.itjspx.com" title="计算机学校" target="_blank">计算机学校</a></li> 
         <li><a role="button" href="http://sh.xhd.cn" title="新航道" target="_blank">新航道</a></li>
        </ul>
       </div> 
        
       <div class="footer-5 text-fz12">
        <a rel="nofollow" href="http://www.miitbeian.gov.cn/" target="_blank">Copyright&copy;深圳市前海美联科技有限公司&nbsp;&nbsp;粤ICP备16077954号</a> 
        <a href="https://tsm.miit.gov.cn/pages/home.aspx" target="_blank">信息服务业务 粤B2-20170370</a>
       </div>
      </div>
     </div>
    </foot>
</html>
