<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>天涯英语-意见箱</title>
  <link rel="icon" href="../favicon.ico" />
  <link href="/lib/bootstrapValidator/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
  <link href="../css/index/default.css" rel="stylesheet" />
  <link href="../css/index/homeindex.css" rel="stylesheet" />
  <link href="../css/index/layout.css" rel="stylesheet" />
  <link href="../css/pc.css" rel="stylesheet" />
  <link href="/css/Css.css" rel="stylesheet" />
</head>
<body>
  <!-- 顶部导航 -->
  <%- include top %>
    <!-- 头部导航 -->
    <%- include nav%>
      <!-- 意见箱 -->
      <h2 style="text-align:center;margin-top: 50px">意见箱</h2>
      <form id="loginForm" class="form-horizontal templatemo-container templatemo-login-form-1 margin-bottom-30" role="form" action="/suggestSubmit"
        method="post">
        <div style="text-align:center;margin-top: 50px">
          <textarea name="content" style="width: 900px;height: 300px;background-color: white; "></textarea>
        </div>
        <div style="text-align:center;margin-top: 50px">
          <button type="submit" class="el-button el-button--primary el-button--small">
            <span>提交</span>
          </button>
        </div>
      </form>
</body>
</html>