<div id="shared_layout_toper" class="clearfix">
    <div class="container">
        <span class="text-666">客服热线</span>
        <span class="text-blue">&nbsp;400-777-8828</span>
        <ul class="pull-right list-inline">
            <li>
                <a href="/pc/pcenter" target="_blank">个人中心</a>
            </li>
            <li>
                <a href="/newslist" target="_blank">新闻动态</a>
            </li>
            <li>
                <a href="/suggestion_box" target="_blank">意见箱</a>
            </li>
        </ul>
    </div>
</div>